<section class="room-details">
  <div class="room-details-container container">
    <div class="room-details-wrapper">
      <ul class="room-detail-list">
        <li class="room-details-item">
          <div class="room-detail-list">
            <h3 class="room-details-title">Зручності у номері</h3>
            <p class="room-details-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </li>

        <li class="room-details-item">
          <h4 class="room-details-subtitle">Загальні</h4>
          <div class="text-container">
            <p class="room-details-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <p class="room-details-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </li>
        <li class="room-details-item">
          <h4 class="room-details-subtitle">Ванна кімната</h4>
          <div class="text-container">
            <p class="room-details-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <p class="room-details-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </li>
        <li class="room-details-item">
          <h4 class="room-details-subtitle">Спальня</h4>
          <p class="room-details-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </li>
        <li class="room-details-item">
          <h4 class="room-details-subtitle">Кухня</h4>
          <div class="text-container">
            <p class="room-details-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
            <p class="room-details-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </div>
        </li>
        <li class="room-details-item">
          <h3 class="room-details-subtitle">Медіа</h3>
          <p class="room-details-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </li>
      </ul>
      <div class="room-details-button-wrapper">
        <div class="room-details-button-container">
          <button
            class="button button-book btn js-open-modal"
            data-modal="2"
            type="button"
          >
            Оформити бронювання
          </button>
          <div class="room-details-box">
            <a class="link room-details-link" href="/src/hotel.html"
              >Повернутися до перегляду номерів
              <svg class="room-details-icon" width="24" height="24">
                <use href="/src/images/icons/sprite.svg#icon-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
