// Film P3 font
@font-face {
  font-family: 'Film P3';
  src: url('/src/fonts/FontsFree-Net-FilmP3Bold.ttf') format('ttf'),
    url('/src/fonts/FontsFree-Net-FilmP3Bold.woff2') format('woff2');
  font-weight: 700;
}
// Times New Roman font
@font-face {
  font-family: 'Times New Roman', serif;
  src: url('../fonts/TimesNewRoman.ttf') format('ttf'),
    url('../fonts/TimesNewRoman.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Times New Roman', serif;
  src: url('/src/fonts/TimesNewRomanBold.ttf') format('ttf'),
    url('../fonts/TimesNewRomanBold.woff') format('woff');
  font-weight: 700;
}

// Montserrat font
@font-face {
  font-family: 'Montserrat';
  src: url('/src/fonts/montserrat400.ttf') format('ttf'),
    url('/src/fonts/montserrat400.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/fonts/montserrat500.ttf') format('ttf'),
    url('/src/fonts/montserrat500.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/fonts/montserrat600.ttf') format('ttf'),
    url('/src/fonts/montserrat600.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/fonts/montserrat700.ttf') format('ttf'),
    url('/src/fonts/montserrat700.woff') format('woff');
  font-weight: 700;
}
