// Швидке центрування по вертикалі

%align-center {
  display: flex;
  align-items: center;
}

// Швидке центрування по горизонталі

%justify-center {
  display: flex;
  justify-content: center;
}

// Приклад підключення
// @extend %align-center;
// @extend %justify-center;
%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

%light-bg-lines-mobile {

}

%light-bg-lines {
  background-image: linear-gradient(to right, $c-bgc-biege 33.4%, $c-bg-gradient-footer 33.7%, $c-bgc-biege 33.8%, $c-bgc-biege 65.95%, $c-bg-gradient-footer 66.2%, $c-bgc-biege 66.4%);
  @include tablet-s {
    background: linear-gradient(to right, $c-bgc-biege 26.4%, $c-bg-gradient-footer 26.5%, $c-bgc-biege 26.6%, $c-bgc-biege 49.9%, $c-bg-gradient-footer 50%, $c-bgc-biege 50.1%, $c-bgc-biege 73.5%, $c-bg-gradient-footer 73.6%, $c-bgc-biege 73.7%);
  }
  @include desktop {
    background: linear-gradient(to right, $c-bgc-biege 26.4%, $c-bg-gradient-footer 26.5%, $c-bgc-biege 26.6%, $c-bgc-biege 49.9%, $c-bg-gradient-footer 50%, $c-bgc-biege 50.1%, $c-bgc-biege 73.5%, $c-bg-gradient-footer 73.6%, $c-bgc-biege 73.7%);
  }
}

%light-bg-lines-light {
  background-image: linear-gradient(to right, $c-bgc-light 33.4%, $c-bg-gradient-footer 33.7%, $c-bgc-light 33.8%, $c-bgc-light 65.95%, $c-bg-gradient-footer 66.2%, $c-bgc-light 66.4%);
  @include tablet-s {
    background: linear-gradient(to right, $c-bgc-light 26.4%, $c-bg-gradient-footer 26.5%, $c-bgc-light 26.6%, $c-bgc-light 49.9%, $c-bg-gradient-footer 50%, $c-bgc-light 50.1%, $c-bgc-light 73.5%, $c-bg-gradient-footer 73.6%, $c-bgc-light 73.7%);
  }
  @include desktop {
    background: linear-gradient(to right, $c-bgc-light 26.4%, $c-bg-gradient-footer 26.5%, $c-bgc-light 26.6%, $c-bgc-light 49.9%, $c-bg-gradient-footer 50%, $c-bgc-light 50.1%, $c-bgc-light 73.5%, $c-bg-gradient-footer 73.6%, $c-bgc-light 73.7%);
  }
}









