// Швидке центрування по вертикалі

%aling-center {
  display: flex;
  align-items: center;
}

// Швидке центрування по горизонталі

%justify-center {
  display: flex;
  justify-content: center;
}

// Приклад підключення
// @extend %aling-center;
// @extend %justify-center;