// Швидке центрування по вертикалі

%align-center {
  display: flex;
  align-items: center;
}

// Швидке центрування по горизонталі

%justify-center {
  display: flex;
  justify-content: center;
}

// Приклад підключення
// @extend %align-center;
// @extend %justify-center;
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}