$c-main-accent: #f3c653;
$c-second-accent: #c79002;
$c-icons-footer: rgba(243, 198, 83, 0.7);
$c-bg-gradient: rgba(186, 186, 186, 0.4);
$c-bg-gradient-footer: rgba(122, 122, 122, 0.4);
$c-black-main: #000000;
$c-white-main: #ffffff;

// homepage-colors
$c-logo-homepage: #828282;
$c-logo-restaurant-hotel: #494848;
$c-subtitles: #b4b4b4;
$c-text-hotel: #7a7a7a;
$c-text-rest-homepage: #5f5f5f;
$c-address-homepage: #e5e5e5;
$c-buttons-background: rgba(0, 0, 0, 0.4);

// mobile-colors
$c-logo-header-restaurant: #fdfbec;

// tablet-colors
$c-logo-header-room: #fffdee;
$c-logo-header-hotel: #f0ecd6;

// colors used on dark background
$c-bgc-text-homepage: #bababa;
$c-bgc-light: #fffdee;
$c-bgc-biege: #f0ecd6;
$c-bgc-footer: #0e0c07;
$c-bgc-background-img-color: #dadada;
$c-bgc-section-homepage: rgba(0, 0, 0, 0.7);

// image gradients
$c-bgc-gradient-homepage-main: rgba(0, 0, 0, 0.65);
$c-bgc-gradient-rest-hotel: rgba(0, 0, 0, 0.76);

// transition
$transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// modal
$c-modal-placeholder: #808080;
$c-modal-background: #ffffff;
$c-modal-black: #000000;
$c-modal-brown: #c79002;
$c-modal-hover: #f3c653;
