<section class="restaurant-menu">
  <div class="menu-container container">
    <h2 class="menu-title">Меню ресторану</h2>
    <div class="menu-wrapper">
      <table class="menu">
        <thead>
          <tr>
            <th class="menu-subtitle">Гарячі страви</th>
          </tr>
        </thead>
        <tbody>
          <tr class="food-container">
            <td class="food">
              Борщ з телятини з квасолею
              <span class="food-description"
                >Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана</span
              >
            </td>
            <td class="food-weight">400 г</td>
            <td class="food-price">240 грн</td>
          </tr>
          <tr class="food-container">
            <td class="food">
              Суп сирний з куркою
              <span class="food-description">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </span>
            </td>
            <td class="food-weight">400 г</td>
            <td class="food-price">200 грн</td>
          </tr>
          <tr class="food-container">
            <td class="food">
              Паста карбонара
              <span class="food-description">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </span>
            </td>
            <td class="food-weight">350 г</td>
            <td class="food-price">430 грн</td>
          </tr>
          <tr class="food-container">
            <td class="food">
              Стейк зі свинини
              <span class="food-description">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </span>
            </td>
            <td class="food-weight">400 г</td>
            <td class="food-price">500 грн</td>
          </tr>
          <tr class="food-container">
            <td class="food">
              Горбуша в соусі з білого вина
              <span class="food-description">
                Ніжна горбуша, вершковий соус на основі білого вина
              </span>
            </td>
            <td class="food-weight">400 г</td>
            <td class="food-price">400 грн</td>
          </tr>
        </tbody>
      </table>

      <table class="menu">
        <thead>
          <tr>
            <th class="menu-subtitle">Гарніри та закуски</th>
          </tr>
        </thead>
        <tbody>
          <tr class="appetizers-container">
            <td class="appetizers">
              Запечені овочі
              <span class="appetizers-description"
                >Кабачок, перець, помідор, баклажан</span
              >
            </td>
            <td class="appetizers-weight">200 г</td>
            <td class="appetizers-price">230 грн</td>
          </tr>

          <tr class="appetizers-container">
            <td class="appetizers">
              Картопля фрі
              <span class="appetizers-description">
                Картопля, соус томатний
              </span>
            </td>
            <td class="appetizers-weight">150 г</td>
            <td class="appetizers-price">160 грн</td>
          </tr>

          <tr class="appetizers-container">
            <td class="appetizers">
              Картопля по-селянськи
              <span class="appetizers-description">
                Картопля, спеції, соус пікантний
              </span>
            </td>
            <td class="appetizers-weight">150 г</td>
            <td class="appetizers-price">160 грн</td>
          </tr>

          <tr class="appetizers-container">
            <td class="appetizers">
              Хрумкі соління з бочки
              <span class="appetizers-description">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </span>
            </td>
            <td class="appetizers-weight">250 г</td>
            <td class="appetizers-price">350 грн</td>
          </tr>

          <tr class="appetizers-container">
            <td class="appetizers">
              Крильця курячі в медовому соусі
              <span class="appetizers-description">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </span>
            </td>
            <td class="appetizers-weight">400 г</td>
            <td class="appetizers-price">420 грн</td>
          </tr>
        </tbody>
      </table>
      <table class="menu">
        <thead>
          <tr>
            <th class="menu-subtitle">Салати</th>
          </tr>
        </thead>
        <tbody>
          <tr class="salad-container">
            <td class="salad">
              Цезар з куркою
              <span class="salad-description"
                >Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар</span
              >
            </td>
            <td class="salad-weight">230 г</td>
            <td class="salad-price">450 грн</td>
          </tr>

          <tr class="salad-container">
            <td class="salad">
              Цезар з креветками
              <span class="salad-description">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар</span
              >
            </td>
            <td class="salad-weight">230 г</td>
            <td class="salad-price">300 грн</td>
          </tr>

          <tr class="salad-container">
            <td class="salad">
              Грецький салат
              <span class="salad-description">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </span>
            </td>
            <td class="salad-weight">230 г</td>
            <td class="salad-price">280 грн</td>
          </tr>

          <tr class="salad-container">
            <td class="salad">
              М’ясний салат
              <span class="salad-description">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </span>
            </td>
            <td class="salad-weight">230 г</td>
            <td class="salad-price">300 грн</td>
          </tr>
        </tbody>
      </table>
      <table class="menu">
        <tr>
          <th class="menu-subtitle">Десерти</th>
        </tr>
        <tr class="sweets-container">
          <td class="sweets">Торт наполеон</td>
          <td class="sweets-weight">230 г</td>
          <td class="sweets-price">300 грн</td>
        </tr>
        <tr class="sweets-container">
          <td class="sweets">Торт маковий</td>
          <td class="sweets-weight">230 г</td>
          <td class="sweets-price">300 грн</td>
        </tr>
        <tr class="sweets-container">
          <td class="sweets-last">Тірамісу</td>
          <td class="sweets-weight">120 г</td>
          <td class="sweets-price">260 грн</td>
        </tr>

        <tr>
          <th class="menu-subtitle">Напої</th>
        </tr>

        <tr class="beverages-container">
          <td class="beverages">Чай чорний/зелений</td>
          <td class="beverages-weight">500 мл</td>
          <td class="beverages-price">100 грн</td>
        </tr>

        <tr class="beverages-container">
          <td class="beverages">Еспресо</td>
          <td class="beverages-weight">30 мл</td>
          <td class="beverages-price">100 грн</td>
        </tr>

        <tr class="beverages-container">
          <td class="beverages">Американо</td>
          <td class="beverages-weight">150 мл</td>
          <td class="beverages-price">100 грн</td>
        </tr>

        <tr class="beverages-container">
          <td class="beverages">Капучино</td>
          <td class="beverages-weight">200 мл</td>
          <td class="beverages-price">160 грн</td>
        </tr>

        <tr class="beverages-container">
          <td class="beverages">Лате</td>
          <td class="beverages-weight">200 мл</td>
          <td class="beverages-price">160 грн</td>
        </tr>
      </table>
    </div>
    <div class="button-container">
      <button
        type="submit"
        class="button-dark button menu-button btn-open-book-table"
      >
        Забронювати столик
      </button>
    </div>
  </div>
</section>
