<section class="reastaurant-menu">
  <div class="container">
    <h1 class="reastaurant-menu__pretitle">МЕНЮ РЕСТОРАНУ</h1>
    <div
      class="reastaurant-menu__wrapper-card reastaurant-menu__wrapper-card--bottom"
    >
      <div class="reastaurant-menu__card">
        <h2 class="reastaurant-menu__title">Гарчі страви</h2>
        <ul class="reastaurant-menu__list">
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">
                Борщ з телятини з квасолею
              </h3>
              <p class="reastaurant-menu__text">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </p>
            </div>
            <p class="reastaurant-menu__massa">400 г</p>
            <p class="reastaurant-menu__price">240 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">Суп сирний з куркою</h3>
              <p class="reastaurant-menu__text">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </p>
            </div>
            <p class="reastaurant-menu__massa">400 г</p>
            <p class="reastaurant-menu__price">200 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">Паста карбонара</h3>
              <p class="reastaurant-menu__text">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </p>
            </div>
            <p class="reastaurant-menu__massa">350 г</p>
            <p class="reastaurant-menu__price">430 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">Стейк зі свинини</h3>
              <p class="reastaurant-menu__text">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </p>
            </div>
            <p class="reastaurant-menu__massa">400 г</p>
            <p class="reastaurant-menu__price">500 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">
                Горбуша в соусі з білого вина
              </h3>
              <p class="reastaurant-menu__text">
                Ніжна горбуша, вершковий соус на основі білого вина
              </p>
            </div>
            <p class="reastaurant-menu__massa">400 г</p>
            <p class="reastaurant-menu__price">400 грн</p>
          </li>
        </ul>
      </div>
      <div class="reastaurant-menu__card">
        <h2 class="reastaurant-menu__title">Гарніри та закуски</h2>
        <ul class="reastaurant-menu__list">
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">Запечені овочі</h3>
              <p class="reastaurant-menu__text">
                Кабачок, перець, помідор, баклажан
              </p>
            </div>
            <p class="reastaurant-menu__massa">200 г</p>
            <p class="reastaurant-menu__price">230 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">Картопля фрі</h3>
              <p class="reastaurant-menu__text">Картопля, соус томатний</p>
            </div>
            <p class="reastaurant-menu__massa">150 г</p>
            <p class="reastaurant-menu__price">160 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">
                Картопля по-селянськи
              </h3>
              <p class="reastaurant-menu__text">
                Картопля, спеції, соус пікантний
              </p>
            </div>
            <p class="reastaurant-menu__massa">150 г</p>
            <p class="reastaurant-menu__price">160 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">
                Хрумкі соління з бочки
              </h3>
              <p class="reastaurant-menu__text">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </p>
            </div>
            <p class="reastaurant-menu__massa">250 г</p>
            <p class="reastaurant-menu__price">350 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">
                Крильця курячі в медовому соусі
              </h3>
              <p class="reastaurant-menu__text">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </p>
            </div>
            <p class="reastaurant-menu__massa">400 г</p>
            <p class="reastaurant-menu__price">420 грн</p>
          </li>
        </ul>
      </div>
      <div class="reastaurant-menu__card">
        <h2 class="reastaurant-menu__title">Салати</h2>
        <ul class="reastaurant-menu__list">
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">Цезар з куркою</h3>
              <p class="reastaurant-menu__text">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </div>
            <p class="reastaurant-menu__massa">230 г</p>
            <p class="reastaurant-menu__price">450 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">Цезар з креветками</h3>
              <p class="reastaurant-menu__text">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </div>
            <p class="reastaurant-menu__massa">230 г</p>
            <p class="reastaurant-menu__price">300 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">Грецький салат</h3>
              <p class="reastaurant-menu__text">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </div>
            <p class="reastaurant-menu__massa">230 г</p>
            <p class="reastaurant-menu__price">280 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <div class="reastaurant-menu__wrapper">
              <h3 class="reastaurant-menu__after-title">М’ясний салат</h3>
              <p class="reastaurant-menu__text">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </p>
            </div>
            <p class="reastaurant-menu__massa">230 г</p>
            <p class="reastaurant-menu__price">300 грн</p>
          </li>
        </ul>
      </div>
      <div class="reastaurant-menu__card">
        <h2 class="reastaurant-menu__title">Десерти</h2>
        <ul class="reastaurant-menu__list">
          <li class="reastaurant-menu__item">
            <h3 class="reastaurant-menu__after-title">Торт наполеон</h3>
            <p class="reastaurant-menu__massa">230 г</p>
            <p class="reastaurant-menu__price">300 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <h3 class="reastaurant-menu__after-title">Торт маковий</h3>
            <p class="reastaurant-menu__massa">230 г</p>
            <p class="reastaurant-menu__price">300 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <h3 class="reastaurant-menu__after-title">Тірамісу</h3>
            <p class="reastaurant-menu__massa">120 г</p>
            <p class="reastaurant-menu__price">260 грн</p>
          </li>
        </ul>
        <h2 class="reastaurant-menu__title">Напої</h2>
        <ul class="reastaurant-menu__list">
          <li class="reastaurant-menu__item">
            <h3 class="reastaurant-menu__after-title">Чай чорний/зелений</h3>
            <p class="reastaurant-menu__massa">500 г</p>
            <p class="reastaurant-menu__price">100 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <h3 class="reastaurant-menu__after-title">Еспресо</h3>
            <p class="reastaurant-menu__massa">30 г</p>
            <p class="reastaurant-menu__price">100 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <h3 class="reastaurant-menu__after-title">Американо</h3>
            <p class="reastaurant-menu__massa">150 г</p>
            <p class="reastaurant-menu__price">100 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <h3 class="reastaurant-menu__after-title">Капучино</h3>
            <p class="reastaurant-menu__massa">200 г</p>
            <p class="reastaurant-menu__price">160 грн</p>
          </li>
          <li class="reastaurant-menu__item">
            <h3 class="reastaurant-menu__after-title">Лате</h3>
            <p class="reastaurant-menu__massa">200 г</p>
            <p class="reastaurant-menu__price">160 грн</p>
          </li>
        </ul>
      </div>
    </div>
    <button type="submit">Забронювати столик</button>
  </div>
</section>
