<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="logo-type" href="./index.html"> MIMIHO</a>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link-title" href="./restaurant.html">Ресторан</a>
          <a class="telephone-number" href="tel:+380955559533">
            <svg class="contact-icon" width="12px" height="20px">
              <use href="../src/images/icons/sprite.svg#icon-tel"></use>
            </svg>
            <span class="header-tel">095 555 95 33</span>
          </a>
        </li>
        <li class="header-item">
          <a class="header-link-title" href="./hotel.html">Готель</a>
          <a class="telephone-number" href="tel:+380668491089">
            <svg class="contact-icon" width="12px" height="20px">
              <use href="../src/images/icons/sprite.svg#icon-tel"></use>
            </svg>
          <span class="header-tel">066 849 10 89</span>
          </a>
          <a class="header-tel" href="tel:+3806727558540">067 275 85 40</a>
        </li>
      </ul>
    </nav>
    <div class="container-socials">
      <ul class="soc-list list">
        <li class="soc-item">
          <a href="https://www.instagram.com/" class="soc-link" target="_blank" rel="noreferrer noopener nofollow">
            <svg class="soc-icon" width="24px" height="24px">
              <use href="./images/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="https://www.facebook.com/" class="soc-link" target="_blank" rel="noreferrer noopener nofollow">
            <svg class="soc-icon" width="24px" height="24px">
              <use href="./images/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="https://web.telegram.org/z/" class="soc-link" target="_blank" rel="noreferrer noopener nofollow">
            <svg class="soc-icon" width="24px" height="24px">
              <use href="./images/icons/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
