<!-- HEADER -->

<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="logo-type a" href="./index.html"> MIMIHO</a>

      <ul class="header-list ul">
        <li class="header-item li">
          <a class="header-link-title a" href="./restaurant.html">Ресторан</a>
        </li>
        <li class="header-item-tel rest-tel li">
          <svg class="contact-icon" width="12px" height="20px">
            <use href="../src/images/icons/sprite.svg#icon-tel"></use>
          </svg>
          <a class="header-tel a" href="tel:+380955559533"> 095 555 95 33</a>
        </li>
        <li class="header-item">
          <a class="header-link-title a" href="./hotel.html">Готель</a>
        </li>
        <li class="header-item-tel">
          <svg class="contact-icon" width="12px" height="20px">
            <use href="../src/images/icons/sprite.svg#icon-tel"></use>
          </svg>
          <a class="header-tel hotel-tel a" href="tel:+380668491089">
            066 849 10 89</a
          >
          <a class="header-tel a" href="tel:+3806727558540">067 275 85 40</a>
        </li>
      </ul>
    </nav>

    <div class="container-socials">
      <ul class="soc-list list">
        <li class="soc-item a">
          <a href="" class="soc-link" target="_blank">
            <svg class="soc-icon" width="24px" height="24px">
              <use href="../src/images/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item a">
          <a href="" class="soc-link" target="_blank">
            <svg class="soc-icon" width="24px" height="24px">
              <use href="../src/images/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link a" target="_blank">
            <svg class="soc-icon" width="24px" height="24px">
              <use href="../src/images/icons/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
