<section class="room-lux hotel-room">
  <div class="hotel-room-container">
    <div class="hotel-room-info">
      <div class="hotel-room-subtitle">Amet minim mollit non</div>
      <div class="hotel-label">MIMIHO</div>
      <h4 class="hotel-room-title">ДВОМІСНИЙ НОМЕР люкс</h4>
      <p class="hotel-room-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="hotel-room-photo">
      <picture class="hotel-room-photo-img wow animate__animated animate__fadeInDown">
        <source media="(max-width: 1023px)" type="image/jpg" srcset="
            ./images/mobile/hotel/room.jpg    1x,
            ./images/mobile/hotel/room-2x.jpg 2x
          " />
        <source media="(min-width: 1024px) and (max-width: 1279px)" type="image/jpg" srcset="
            ./images/tablet/hotel/room.jpg    1x,
            ./images/tablet/hotel/room-2x.jpg 2x
          " />
        <source media="(min-width: 1280px)" type="image/jpg" srcset="
            ./images/desktop/hotel/room.jpg    1x,
            ./images/desktop/hotel/room-2x.jpg 2x
          " />
        <img src="./images/mobile/hotel/room.jpg" alt="Спальне місце в номері" />
      </picture>
    </div>
    <div class="down-wrapper">
      <div class="slider-wrapper">
        <div class="hotel-room-slider slider-room-lux">
          <div class="slider-photo slider-room_item">
            <picture class="hotel-room-photo-img wow animate__animated animate__fadeInDown">
              <source media="(max-width: 1279px)" srcset="
                  ./images/tablet/hotel/slider-1.jpg    1x,
                  ./images/tablet/hotel/slider-1-2x.jpg 2x
                " />
              <source media="(min-width: 1280px)" srcset="
                  ./images/desktop/hotel/slider-1.jpg    1x,
                  ./images/desktop/hotel/slider-1-2x.jpg 2x
                " />
              <img src="./images/tablet/hotel/slider-1.jpg" alt="Ванна кімната" />
            </picture>
          </div>
          <div class="slider-photo slider-room_item">
            <picture class="hotel-room-photo-img wow animate__animated animate__fadeInDown">
              <source media="(max-width: 1279px)" type="image/jpg" srcset="
                  ./images/tablet/hotel/slider-2.jpg    1x,
                  ./images/tablet/hotel/slider-2-2x.jpg 2x
                " />
              <source media="(min-width: 1280px)" type="image/jpg" srcset="
                  ./images/desktop/hotel/slider-2.jpg    1x,
                  ./images/desktop/hotel/slider-2-2x.jpg 2x
                " />
              <img src="./images/tablet/hotel/slider-2.jpg" alt="Вид з вікна" />
            </picture>
          </div>
          <div class="slider-photo slider-room_item">
            <picture class="hotel-room-photo-img wow animate__animated animate__fadeInDown">
              <source media="(max-width: 1279px)" srcset="
                  ./images/tablet/hotel/slider-3.jpg    1x,
                  ./images/tablet/hotel/slider-3-2x.jpg 2x
                " />
              <source media="(min-width: 1280px)" srcset="
                  ./images/desktop/hotel/slider-3.jpg    1x,
                  ./images/desktop/hotel/slider-3-2x.jpg 2x
                " />
              <img src="./images/tablet/hotel/slider-3.jpg" alt="Банне приладдя" />
            </picture>
          </div>
          <div class="slider-photo slider-room_item">
            <picture class="hotel-room-photo-img wow animate__animated animate__fadeInDown">
              <source media="(max-width: 1279px)" type="image/jpg" srcset="
                  ./images/tablet/hotel/slider-4.jpg    1x,
                  ./images/tablet/hotel/slider-4-2x.jpg 2x
                " />
              <source media="(min-width: 1280px)" type="image/jpg" srcset="
                  ./images/desktop/hotel/slider-4.jpg    1x,
                  ./images/desktop/hotel/slider-4-2x.jpg 2x
                " />

              <img src="./images/tablet/hotel/slider-4.jpg" alt="Інтер'єр кімнати" />
            </picture>
          </div>
        </div>
      </div>
      <div class="buttons-wrapper">
        <a class="button button-dark" href="./room.html">Детальніше</a>
        <button class="button button-dark btn_sign" type="button">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>