/*
Всі малі кнопки
З напівпрозорим фоном використовуємо class="button button-light"
з чорним фоном використовуємо class="button button-dark"
*/

.button {
  font-family: 'Montserrat';
  @include font(700, 16px, 1.25, 0.02em);
  text-align: center;

  border: 2px solid $c-white-main;
  border-radius: 25px;
  color: $c-main-accent;
  padding: 14px 24px;

  transition: background-color $transition-cubic;
}

.button-light {
  background-color: $c-buttons-background;

  &:hover,
  &:focus,
  &:active {
    background-color: $c-white-main;
  }
}

.button-dark {
  background-color: $c-buttons-background;

  &:hover,
  &:focus,
  &:active {
    background-color: $c-white-main;
    border-color: $c-main-accent;
  }
}

/* Кнопки "Оформити бронювання"
Для сторінок використовуємо class="btn"
Для модалок використовуємо class="btn btn-modal"
*/

.btn {
  height: 64px;

  font-family: 'Montserrat';
  text-transform: uppercase;
  @include font(500, 20px, 1.2, 0.02em);
  text-align: center;

  border: 1px solid $c-main-accent;
  border-radius: 25px;
  color: $c-white-main;
  background-color: $c-black-main;

  transition: background-color $transition-cubic;

  &:hover,
  &:focus,
  &:active {
    color: $c-black-main;
    background-color: $c-modal-hover;
  }

  @include mobile {
    width: 384px;
  }

  @include tablet {
    width: 434px;
    @include font(500, 24px, 1.21, 0.02em);
  }

  &-modal {
    border-radius: 2px;

    @include tablet {
      width: 592px;
    }
  }
}
