.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  @include mobile {
    max-width: 414px;
  }
  @include tablet {
    max-width: 1024px;
    padding-right: 47px;
    padding-left: 47px;
  }
  @include desktop {
    max-width: 1280px;
    padding-right: 85px;
    padding-left: 85px;
  }
}