.hotel-room {
  .hotel-room-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .hotel-room-info {
    display: flex;
    flex-direction: column;
  }

  .hotel-room-subtitle {
    @include font(400, 20px, 1.15);
    font-family: 'Times New Roman';
    color: $c-subtitles;
    margin-bottom: 8px;
    @include tablet {
      @include font(400, 32px, 1.15, normal);
      margin-bottom: 4px;
    }
    @include desktop {
      @include font(400, 32px, 1.15, normal);
      margin-bottom: 4px;
    }
  }
  .hotel-label {
    @include font(700, 40px, 1.07, 0.3em);
    font-family: Film P3, sans-serif;
    margin-bottom: 32px;
    @include tablet {
      @include font(700, 64px, 1.08, 0.3em);
      margin-bottom: 62px;
    }
    @include desktop {
      @include font(700, 64px, 1.08, 0.3em);
      margin-bottom: 72px;
    }
  }
  .hotel-room-title {
    font-family: 'Times New Roman';
    @include font(700, 24px, 1.17, 0.05em);
    margin-bottom: 12px;
    @include tablet {
      @include font(700, 30px, 1.13, 0.05em);
      margin-bottom: 16px;
    }
    @include desktop {
      @include font(700, 36px, 1.13, 0.05em);
      margin-bottom: 24px;
    }
  }
  .hotel-room-description {
    @include font(600, 12px, 1.25, 0.02em);
    font-family: 'Montserrat';
    width: 258px;
    margin-right: 39px;
    margin-bottom: 32px;
    @include tablet {
      @include font(600, 16px, 1.25, 0.02em);
      width: 440px;
      margin-bottom: 176px;
    }
    @include desktop {
      @include font(600, 16px, 1.25, 0.02em);
      width: 400px;
      margin-bottom: 188px;
    }
  }
}

