/* Секція*/
.hotel-room {
  padding-top: 32px;
  padding-bottom: 32px;

  @include tablet {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  @include desktop {
    padding-top: 72px;
    padding-bottom: 72px;
    background: linear-gradient(
      to right,
      $c-bgc-light 338px,
      $c-bg-gradient-footer 339px,
      $c-bgc-light 340px,
      $c-bgc-light 639px,
      $c-bg-gradient-footer 640px,
      $c-bgc-light 641px,
      $c-bgc-light 941px,
      $c-bg-gradient-footer 942px,
      $c-bgc-light 943px
    );
  }

  /* Контейнер */
  .hotel-room-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    max-width: 415px;

    @include mobile {
      max-width: unset;
      width: 415px;
    }

    @include tablet {
      padding-right: 47px;
      padding-left: 47px;
      overflow-x: visible;
      width: 1024px;
      max-width: unset;
    }

    @include desktop {
      padding-right: 85px;
      padding-left: 85px;
      overflow-x: visible;
      width: 1280px;
      max-width: unset;
    }
  }

  .hotel-room-info {
    display: flex;
    flex-direction: column;
  }

  .hotel-room-subtitle {
    @include font(400, 20px, 1.15);
    font-family: 'Times New Roman';
    color: $c-subtitles;
    margin-bottom: 8px;
    @include tablet {
      @include font(400, 32px, 1.15, normal);
      margin-bottom: 4px;
    }
    @include desktop {
      @include font(400, 32px, 1.15, normal);
      margin-bottom: 4px;
    }
  }
  .hotel-label {
    @include font(700, 40px, 1.07, 0.3em);
    font-family: Film P3, sans-serif;
    color: $c-logo-restaurant-hotel;
    margin-bottom: 32px;
    @include tablet {
      @include font(700, 64px, 1.08, 0.3em);
      margin-bottom: 62px;
    }
    @include desktop {
      @include font(700, 64px, 1.08, 0.3em);
      margin-bottom: 72px;
    }
  }
  .hotel-room-title {
    font-family: 'Times New Roman';
    @include font(700, 24px, 1.17, 0.05em);
    margin-bottom: 12px;
    @include tablet {
      @include font(700, 30px, 1.13, 0.05em);
      margin-bottom: 16px;
    }
    @include desktop {
      @include font(700, 36px, 1.13, 0.05em);
      margin-bottom: 24px;
    }
  }
  .hotel-room-description {
    @include font(600, 12px, 1.25, 0.02em);
    font-family: 'Montserrat';
    color: $c-text-rest-homepage;
    width: 258px;
    margin-right: 39px;
    margin-bottom: 32px;

    @include tablet {
      @include font(600, 16px, 1.25, 0.02em);
      width: 440px;
      margin-bottom: 176px;
    }
    @include desktop {
      @include font(600, 16px, 1.25, 0.02em);
      width: 400px;
      margin-bottom: 188px;
    }
  }

  /* Спозиціоноване фото */
  .hotel-room-photo {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-bottom: 32px;

    @include mobile-small {
      max-width: 244px;
      width: 100%;
    }

    @include mobile {
      width: 244px;
    }

    @include tablet {
      width: 400px;
      height: 524px;
      margin-bottom: 0;
    }

    @include desktop {
      width: 460px;
      height: 574px;
      margin-bottom: 0;
    }
  }

  /* слайдер */
  .slider-wrapper {
    position: relative;
    overflow: hidden;

    .slider-room_item {
      margin-left: 13px;
      margin-right: 4px;
    }
  }

  .hotel-room-slider {
    width: 100%;
    padding-bottom: 52px;

    @include mobile {
      width: 420px;
    }

    @include tablet {
      width: 468px;
      padding-bottom: 64px;
    }

    @include desktop {
      width: 568px;
      padding-bottom: 72px;
    }
  }
  .slick-prev-arrow,
  .slick-next-arrow {
    background-color: transparent;
    z-index: 228;
    border: 0;
    padding: 0;
  }
}

.down-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* Кнопки */
.buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @include tablet {
    position: relative;
    transform: translateY(-36px);
  }

  @include desktop {
    position: relative;
    transform: translateY(-36px);
  }

  .button-dark {
    width: 236px;
    height: 48px;
    border-color: transparent;
  }
}
