.modal-window-entry-room {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $c-buttons-background;
  opacity: 0;
  visibility: hidden;
  transition: visibility $transition-cubic, opacity $transition-cubic;
  overflow: scroll;
  z-index: 999;

  &.show-entry {
    opacity: 1;
    visibility: visible;
  }
}
.modal-room__icon {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
  fill:rgba(128, 128, 128, 1);

  @media screen and (min-width: 1024px) {
    margin-top: -44px;
    margin-right: -44px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-room {
  position: absolute;
  left: 50%;
  top: 20px;
  padding: 15px 15px 60px 15px;
  border-radius: 2px;
  width: 100%;
  max-width: 414px;
  background-color: $c-modal-background;
  transform: translateX(-50%);
  // transform: translate(-50%,30%);
  z-index: 3;

  @media screen and (min-width: 1024px) {
    width: 712px;
    max-width: 712px;
    padding: 60px;
    // transform: translate(-50% -50%);
  }
}

// .modal__close-button {
//   position: absolute;
//   top: 16px;
//   right: 16px;

//   border: none;
//   outline: none;
//   margin-left: auto;
//   display: block;
//   background-color: $c-modal-background;
//   padding: 0;
// }

.form-room__title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Times New Roman';
  @include font(700, 24px, 1.16, 0.05em);
  color: $c-modal-black;
  text-align: center;
  text-transform: uppercase;
}

.form-room__input {
  width: 100%;
  max-width: 384px;
  height: 54px;
  margin-bottom: 8px;
  padding: 12px;
  border: 1px solid $c-modal-brown;
  border-radius: 2px;
  outline: none;
  font-family: 'Times New Roman';
  font-style: normal;
  @include font(700, 20px, 1.15, 0.05em);
  color: $c-modal-placeholder;
  background-color: $c-bgc-light;
  cursor: pointer;
}

.form-room__label {
  display: block;
  margin-bottom: 20px;
  @include font(500, 14px, 1.21, 0.02em);
  color: $c-modal-brown;
}

.form-room__label:nth-of-type(5) {
  margin-bottom: 0;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-end;
  }
}

.form__container:nth-of-type(2) {
  margin-top: 20px;
}

.form__container:nth-of-type(3) {
  margin-top: 20px;
}

.form__label {
  display: block;
  @include font(500, 14px, 1.21, 0.02em);
  color: $c-modal-brown;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    width: 288px;
    @include font(null, 16px, 1.25, null);
    font-size: 16;
    line-height: 1.25;
  }
}

.form__label--select {
  position: relative;
}

.form__label--select::after {
  background-image: url('/src/images/icons/arrow-down-bold.svg');
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 15px;
  right: 5px;
  z-index: 3;
  background-color: $c-modal-background;
  pointer-events: none;
}

.form__title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Times New Roman';
  @include font(700, 24px, 1.16, 0.05em);
  color: $c-modal-black;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 1024px) {
    @include font(null, 40px, 1.15, null);
    font-size: 40px;
    line-height: 1.15;
  }
}

.form-button {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  background-color: $c-modal-black;
  border: 1px solid $c-modal-hover;
  border-radius: 2px;
  font-family: 'Montserrat';
  font-style: normal;
  @include font(500, 20px, 1.2, null);
  color: $c-modal-background;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background $transition-cubic, color $transition-cubic;

  &:hover,
  &:focus {
    background-color: $c-modal-hover;
    color: $c-modal-black;
  }
}
.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}