.modal-window_entry {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $c-buttons-background;
  opacity: 0;
  visibility: hidden;
  transition: visibility $transition-cubic, opacity $transition-cubic;
  overflow: scroll;
  z-index: 999;

  &.show-entry {
    opacity: 1;
    visibility: visible;
  }
}

.modal-price {
  display: block;
  position: absolute;
  top: 10px;
  left: 50%;
  padding: 60px 15px;
  transform: translateX(-50%) scale(1);
  opacity: 1;
  width: 100%;
  max-width: 414px;
  background: $c-logo-header-room;
  border-radius: 2px;

  @media screen and (min-width: 1024px) {
    max-width: 712px;
    padding: 60px;
  }
}

.modal-price__title {
  margin-bottom: 40px;
  font-family: 'Times New Roman', serif;
  font-style: normal;
  @include font(700, 24px, 1.16, 0.05em);
  color: $c-modal-black;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1024px) {
    font-size: 32px;
    line-height: 1.157;
  }
}

.modal-price__subtitle {
  margin-bottom: 28px;
  font-family: 'Times New Roman', serif;
  font-style: normal;
  @include font(700, 24px, 1.16, 0.05em);
  color: $c-modal-placeholder;
}

.modal-price__text {
  margin-bottom: 20px;
  @include font(500, 16px, 1.25, 0.02em);
  color: $c-modal-brown;
}

.modal-price__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}

.modal-price__item {
  display: flex;
  flex-direction: column;
}

.modal-price__item:last-child {
  margin-bottom: 40px;
}

.modal-price__input {
  width: 100%;
  height: 54px;
  margin-bottom: 8px;
  padding: 13px 20px 13px 15px;
  border: 1px solid $c-modal-brown;
  background-color: $c-logo-header-room;
  font-family: 'Times New Roman';
  font-style: normal;
  @include font(700, 24px, 1.16, 0.05em);
  color: $c-modal-placeholder;
  outline: none;

  &--border {
    border: none;
  }

  @media screen and (min-width: 1024px) {
    width: 288px;
  }
}

.modal-price__label {
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $c-modal-brown;

  &--lowercase {
    text-transform: lowercase;
  }
}

.modal-price__button {
  background-color: $c-modal-black;
  color: $c-modal-background;
  width: 100%;
  padding: 20px 64px;
  border: 1px solid $c-modal-hover;
  border-radius: 2px;
  font-family: inherit;
  @include font(500, 18px, 1.2, 0.02em);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color $transition-cubic;
  transition: color $transition-cubic;

  @media screen and (min-width: 1024px) {
    font-size: 24px;
  }

  &:hover,
  &:focus {
    background-color: $c-modal-hover;
    color: $c-modal-black;
  }
}

.modal-price__btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  fill:rgba(128, 128, 128, 1);
  
}

.modal-price__select {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 8px;
  padding: 13px 20px 13px 15px;
  border: 1px solid $c-modal-brown;
  background-color: $c-logo-header-room;
  font-family: 'Times New Roman';
  font-style: normal;
  @include font(700, 24px, 1.16, 0.05em);
  color: $c-modal-placeholder;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background-image: url('/src/images/icons/arrow-down-bold.svg');
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 24px;

  @media screen and (min-width: 1024px) {
    width: 288px;
    background-position: 95%;
  }
}
.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}