/* Для секцій "About our hotel", "About our restaurant", "About our kitchen"  */
.section-about {
  padding-top: 16px;
  padding-bottom: 20px;

  @include tablet {
    padding-top: 120px;
    padding-bottom: 32px;
  }
}

/* Для секцій "Details of our restaurant", "Details of our hotel" */
.section-details {
  padding-top: 24px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 48px;
  }
}
