.image-slider {
  position: relative;
  padding-bottom: 40px;
  margin: 0 -20px;
}

.image-slider-item {
  margin: 0 20px;
}

.slick-prev-arrow,
.slick-next-arrow {
  position: absolute;
  background-color: transparent;
  z-index: 228;
  border: none;
  padding: 0;
  bottom: 0;
}

.slick-next-arrow {
  left: 60px;
}
