.social-list {
  display: flex;
  flex-direction: column;
  gap: 11px;

  .social-image {
    position: absolute;
    fill: $c-main-accent;
    opacity: 0.7;
    transition: opacity $transition-cubic;
  }

  .social-item {
    position: relative;
    height: 24px;
    width: 24px;

    a {
      width: 24px;
      height: 24px;
      display: block;
    }

    &:hover {
      .social-image {
        opacity: 1;
      }
    }
  }
}
