.contacts-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  max-width: 414px;

  @include mobile-s {
    max-width: unset;
    width: 414px;
  }

  @include tablet-s {
    padding-right: 47px;
    padding-left: 47px;
    width: 1024px;
    max-width: unset;
  }

  @include desktop {
    padding-right: 85px;
    padding-left: 85px;

    width: 1280px;
    max-width: unset;
  }
}

.logo {
  font-family: 'Film P3', sans-serif;

  @include font(700, 40px, 1.08, 0.3em);
  color: $c-logo-restaurant-hotel;

  @include tablet-s {
    @include font(700, 64px, 1.08, 0.3em);
  }

  @include desktop {
    color: $c-logo-homepage;
    @include font(700, 64px, 1.08, 0.3em);
  }
}

.section-contacts {
  padding-top: 36px;
  padding-bottom: 32px;

  background-color: $c-bgc-light;
  background-image: linear-gradient(
    to right,
    $c-bgc-light 138px,
    $c-bg-gradient-footer 139px,
    $c-bgc-light 140px,
    $c-bgc-light 273px,
    $c-bg-gradient-footer 274px,
    $c-bgc-light 275px
  );

  @include tablet-s {
    padding-top: 56px;
    padding-bottom: 40px;
    background-image: linear-gradient(
      to right,
      $c-bgc-light 278px,
      $c-bg-gradient-footer 279px,
      $c-bgc-light 280px,
      $c-bgc-light 511px,
      $c-bg-gradient-footer 512px,
      $c-bgc-light 513px,
      $c-bgc-light 745px,
      $c-bg-gradient-footer 746px,
      $c-bgc-light 747px
    );
  }

  @include desktop {
    padding-top: 64px;
    padding-bottom: 73px;
    background-image: linear-gradient(
      to right,
      $c-bgc-light 338px,
      $c-bg-gradient-footer 339px,
      $c-bgc-light 340px,
      $c-bgc-light 639px,
      $c-bg-gradient-footer 640px,
      $c-bgc-light 641px,
      $c-bgc-light 941px,
      $c-bg-gradient-footer 942px,
      $c-bgc-light 943px
    );
  }
}

.contacts-wrapper {
  @include tablet-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts-title {
  @extend %visually-hidden;
}

.contacts-sub-title {
  margin-top: 12px;
  margin-bottom: 16px;

  @include font(600, 16px, 1.25, 0.02em);
  color: $c-text-rest-homepage;

  @include tablet-s {
    margin-top: 8px;
    margin-bottom: 52px;
  }

  @include desktop {
    margin-top: 16px;
    margin-bottom: 40px;
    @include font(600, 20px, 1.2, 0.02em);
  }
}

.contacts-item {
  @extend %align-center;

  margin-bottom: 16px;

  &:first-child {
    gap: 22px;

    @include tablet-s {
      margin-bottom: 24px;
    }
    @include desktop {
      margin-bottom: 24px;
    }
  }

  &:nth-child(2) {
    justify-content: space-between;

    @include tablet-s {
      margin-bottom: 48px;
    }

    @include desktop {
      margin-bottom: 48px;
    }
  }

  &:last-child {
    margin-bottom: 32px;
    justify-content: space-between;

    @include tablet-s {
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: 0;
    }
  }

  @include tablet-s {
    display: block;
  }

  @include desktop {
    display: block;
  }
}

.contact-title {
  @include font(500, 16px, 1.2, 0.02em);
  color: $c-second-accent;

  @include mobile-s {
    @include font(500, 20px, 1.2, 0.02em);
  }

  @include tablet-s {
    @include font(500, 20px, 1.2, 0.02em);
    margin-bottom: 8px;
  }

  @include desktop {
    @include font(500, 20px, 1.2, 0.02em);
    margin-bottom: 8px;
  }
}

.contact-thumb {
  display: flex;

  border: 0.5px solid $c-main-accent;
  border-radius: 2px;
  background-color: $c-white-main;

  &-restaurant {
    width: 144px;
    height: 40px;
    padding-left: 14px;
    padding-right: 8px;
  }

  &-hotel {
    gap: 12px;
    width: 260px;
    height: 40px;
    padding-left: 14px;
    padding-right: 8px;

    @include tablet-s {
      width: 264px;
    }

    @include desktop {
      width: 264px;
    }
  }

  &-address {
    width: 260px;
    height: 76px;
    padding-left: 16px;
    padding-right: 16px;

    @include tablet-s {
      width: 285px;
      height: 56px;
    }

    @include desktop {
      width: 285px;
      height: 56px;
    }
  }
}

.contacts-icon {
  width: 12px;
  height: 20px;
  fill: $c-second-accent;
}

.contacts-icon-map {
  width: 24px;
  height: 24px;
  fill: $c-second-accent;
}

.contacts-tel-link {
  display: flex;
  gap: 11px;
  align-items: center;
  color: $c-logo-restaurant-hotel;
  @include font(400, 10px, 1.21, 0.02em);

  @include mobile-s {
    @include font(400, 14px, 1.21, 0.02em);
  }

  @include tablet-s {
    @include font(400, 14px, 1.21, 0.02em);
  }

  @include desktop {
    color: $c-logo-homepage;
    @include font(400, 14px, 1.21, 0.02em);
  }
}

.contact-address-link {
  display: flex;
  gap: 16px;
  align-items: center;

  @include font(400, 14px, 1.25, 0.01em);
  color: $c-logo-restaurant-hotel;

  @include mobile-s {
    @include font(400, 16px, 1.25, 0.01em);
  }

  @include tablet-s {
    @include font(400, 16px, 1.25, 0.01em);
  }

  @include desktop {
    @include font(400, 16px, 1.25, 0.01em);
    color: $c-logo-homepage;
  }
}

.contacts-map {
  border: 1px solid $c-bgc-text-homepage;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  position: relative;
  width: 100%;
  height: 220px;

  @include mobile-s {
    max-width: 394px;
  }

  @include tablet-s {
    max-width: 535px;
    height: 412px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
  @include desktop {
    max-width: 634px;
    height: 412px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}

iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
