.header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.header-container {
  display: flex;
  align-items: center;
  @include mobile-small {
    justify-content: space-between;
  }
  @include mobile {
    justify-content: space-between;
  }
}

.header-item {
  display: flex;
  gap: 12px;
  align-items: center;

  @include tablet {
    gap: 32px;
  }

  @include desktop {
    gap: 32px;
  }
}

.telephone-number {
  display: flex;
  justify-content: flex-start;
}

.header-nav {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 10px;
  @include mobile-small {
    justify-content: space-between;
    width: 100%;
  }
  @include mobile {
    justify-content: space-between;
    width: 100%;
  }

  @include desktop {
    margin-right: 60px;
  }
}

.logo-type {
  font-family: 'Film P3';
  @include font(700, 36px, 1.08, 0.3em);
  color: $c-logo-header-restaurant;

  @include mobile-small {
    //margin-right: 52px;
  }
  @include tablet {
    font-size: 40px;
    line-height: 1.07;
    margin-right: 87px;
  }
  @include desktop {
    font-size: 40px;
    line-height: 1.07;
    margin-right: 96px;
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 26px;
  @include mobile {
    margin-left: auto;
  }
}

.header-link-title {
  font-family: 'Montserrat';
  font-style: normal;
  @include font(500, 14px, 1.25, 0.02em);
  color: $c-main-accent;
  display: block;
  transition: color $transition-cubic;
  &:hover,
  &:focus {
    color: $c-second-accent;
  }
  @include tablet {
    font-size: 20px;
    line-height: 1.2;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.contact-icon {
  fill: $c-main-accent;
}

.tel-wrapper {
  display: flex;
  gap: 16px;
  @include tablet {
    border: 1px solid $c-icons-footer;
    border-radius: 2px;
    padding: 11px 8px 12px 14px;
  }
  @include desktop {
    border: 1px solid $c-icons-footer;
    border-radius: 2px;
    padding: 11px 8px 12px 14px;
  }
}

.header-tel {
  @include font(400, 14px, 1.21, 0.02em);
  font-family: 'Montserrat';
  font-style: normal;
  display: flex;
  align-items: center;
  color: $c-white-main;
  transition: color $transition-cubic;

  &:hover,
  &:active {
    color: $c-main-accent;
  }

  @include mobile-small {
    display: none;
  }
  @include mobile {
    display: none;
  }

  .header-item-tel {
    display: flex;
    align-items: center;

    @include desktop {
      border: 1px solid $c-icons-footer;
      border-radius: 2px;
    }
  }

  .hotel-tel {
    @include tablet {
      margin-right: 16px;
    }

    @include desktop {
      margin-right: 16px;
    }
  }

  .header-item-tel:not(:last-child) {
    margin-right: 15px;
    @include mobile-small {
      margin-right: 26px;
    }
    @include tablet {
      margin-right: 72px;
    }

    @include desktop {
      margin-right: 72px;
    }
  }
}

.social-list-header {
  display: none;

  @include desktop {
    display: block;
  }

  .social-list {
    @include desktop {
      display: flex;
      gap: 23px;
      flex-direction: row;
    }
  }
}
