.header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.header-container {
  display: flex;
  align-items: center;

  @include desktop {
    justify-content: space-around;
  }
}
.header-item {
  display: flex;
  gap: 12px;
  align-items: center;

  @include tablet {
    gap: 32px;
  }
}

.telephone-number {
  display: flex;
  justify-content: flex-start;
}

.header-nav {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 10px;
  @include mobile {
    width: 100%;
  }
}

.logo-type {
  font-family: 'Film P3';
  @include font(700, 36px, 1.08, 0.3em);
  color: $c-logo-header-restaurant;

  @include mobile-small {
    margin-right: 52px;
  }
  @include tablet {
    font-size: 40px;
    line-height: 1.07;
    margin-right: 87px;
  }
  @include desktop {
    font-size: 40px;
    line-height: 1.07;
    margin-right: 96px;
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 26px;
  @include mobile {
    margin-left: auto;
  }
}

.header-link-title {
  font-family: 'Montserrat';
  font-style: normal;
  @include font(500, 14px, 1.25, 0.02em);
  color: $c-main-accent;
  display: block;

  @include mobile {
    margin-right: 12px;
  }

  @include tablet {
    font-size: 20px;
    line-height: calc(20 / 24);
    margin-right: 32px;
  }

  @include desktop {
    font-size: 20px;
    line-height: calc(20 / 24);
    margin-right: 32px;
  }
}

.contact-icon {
  fill: $c-main-accent;

  @include tablet {
    margin-right: 14px;
  }
  @include desktop {
    margin-right: 14px;
  }
}

.header-tel {
  @include mobile-small {
    display: none;
  }
  @include mobile {
    display: none;
  }
  @include tablet {
    @include font(400, 14px, 1.21, 0.02em);
    font-family: 'Montserrat';
    font-style: normal;
    display: flex;
    align-items: center;
    color: $c-white-main;
  }

  .header-item-tel {
    display: flex;
    align-items: center;
    @include tablet {
      border: 1px solid $c-icons-footer;
      border-radius: 2px;
      padding: 11px 8px 12px 14px;
    }

    @include desktop {
      border: 1px solid $c-icons-footer;
      border-radius: 2px;
    }
  }

  .hotel-tel {
    @include tablet {
      margin-right: 16px;
    }

    @include desktop {
      margin-right: 16px;
    }
  }

  .header-item-tel:not(:last-child) {
    margin-right: 15px;
    @include mobile-small {
      margin-right: 26px;
    }
    @include tablet {
      margin-right: 72px;
    }

    @include desktop {
      margin-right: 72px;
    }
  }
}

.soc-list {
  @include desktop {
    display: flex;
    gap: 22px;

    align-items: center;
    justify-content: center;
  }
}

.soc-icon {
  fill: $c-main-accent;
  display: flex;
}

.container-socials {
  @include mobile-small {
    display: none;
  }
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}
