.hotel-about {
    background-color: $c-bgc-light;

    @include mobile {
        max-width: 414px;
    }

    @include tablet {
        max-width: 1024px;
    }

    @include desktop {
        max-width: 1280px;
    }
}

.about-hotel-container {
    text-align: right;
}

/*     Скриває заголовок  */
.visually-hidden {
    @extend %visually-hidden;
}

/*      Стилі заголовку    */
.about-hotel-title {
    padding-top: 18px;
    color: $c-subtitles;
    font-size: 20px;
    font-family: 'Times New Roman';
    text-align: right;
    line-height: 1.15;
    font-weight: 400;

    @include tablet {
        font-size: 32px;
        padding-top: 120px;
    }

    @include desktop {
        padding-top: 120px;
        font-size: 32px;
        margin-bottom: 4px;
    }
}

/*     Стилі Лого  */
.about-hotel-link {
    color: $c-logo-restaurant-hotel;
    font-size: 40px;
    margin-right: 0;
    letter-spacing: 0.3em;
    font-family: Film P3, sans-serif;

    @include mobile {
        margin-right: -12px;
    }

    @include tablet {
        font-size: 64px;
        font-weight: 700;
        margin-right: -20px;
    }

    @include desktop {
        font-size: 64px;
        font-weight: 700;
        color: $c-logo-homepage;
        margin-right: -20px;
    }
}

/*  Позіціонує текст і зображення в колонку*/
.hotel-about .hotel-room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

/*     Стилі тексту     */
.about-hotel-text {
    // font-family: Montserrat;
    color: $c-text-rest-homepage;
    font-size: 8px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    font-weight: 600;
    margin-left: 153px;
    text-align: left;
    max-width: 242px;

    @include mobile {
        font-size: 12px;
    }

    @include tablet {
        min-width: 439px;
        min-height: 80px;
        font-size: 16px;
        margin-left: 540px;
        margin-top: 24px;
        margin-bottom: 142px;
        right: 0;
    }

    @include desktop {
        min-width: 488px;
        min-height: 88px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        position: relative;
        left: 50px;
        top: 24px;
        left: 242px;
    }
}

.image-room {
    position: relative;

    @include mobile {
        left: 180;
        max-width: 244px;
        transform: translateX(-250px);
    }

    @include tablet {
        max-width: 400px;
        left: 65px;
        top: -548px;
        transform: translateX(-250px);
    }

    @include desktop {
        top: -380px;
        left: -220px;
        max-width: 100%;
    }
}

.hotel-about .hotel-reception {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
}

.hotel-reception-text {
    position: relative;
    font-family: Montserrat;
    color: $c-second-accent;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin-top: 102px;
    margin-bottom: 120px;
    text-align: left;
    max-width: 163px;
    font-weight: 600;

    @include mobile {
        font-size: 12px;
    }

    @include tablet {
        margin-bottom: 154px;
        max-width: 312px;
        max-height: 122px;
        font-size: 16px;
        margin-top: 172px;
        margin-left: 220px;
        transform: translateY(-562px);
    }

    @include desktop {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        left: 294px;
        margin: 0;
        max-width: 311px;
        top: -490px;
    }
}


.image {
    position: relative;

    @include mobile {
        width: 200px;
        height: 278px;
    }

    @include tablet {
        transform: translateY(-562px);
        right: 0;
        width: 100%;
        height: auto;
    }

    @include desktop {
        transform: translateY(-504px);
    }
}

/*     Прибирає колір кнопок зі стрілочками*/
.hotel-about-arrow {
    background-color: transparent;
    border: transparent;
}