.hotel-details {
  .hotel-details-slider {
    margin-bottom: 40px;
    padding-bottom: 60px;
    transform: scaleX(-1);
    @include tablet-s {
      margin-bottom: 0;
    }
    @include desktop {
      margin-bottom: 0;
    }
  }

  .hotel-slider-buttons-wrapper {
    position: relative;
  }

  .hotel-details-slider-wrapper {
    padding-right: 60px;
    @include tablet-s {
      padding-right: 315px;
    }
    @include desktop {
      padding-right: 315px;
    }
  }

  .hotel-buttons {
    @include tablet-s {
      position: absolute;
      right: 0;
      bottom: 40px;
    }
    @include desktop {
      position: absolute;
      right: 0;
      bottom: 62px;
    }

  }

  .hotel-button {
    @include tablet-s {
      width: 236px;
      padding: 10px;
      font-size: 14px;
    }

    @include desktop {
      width: 236px;
      padding: 12px 8px;
      font-size: 14px;
    }
  }
}

.hotel-container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  @include tablet-s {
    padding-right: 47px;
    padding-left: 47px;
  }
  @include desktop {
    padding-right: 85px;
    padding-left: 85px;
  }
}

.hotel-details {
  height: 100%;
  background-image: linear-gradient(
                  $c-bgc-gradient-homepage-main,
                  $c-bgc-gradient-homepage-main
  ),
  url('/src/images/mobile/home/details-hotel-bg-.jpg');

  @include retina {
    background-image: linear-gradient(
                    $c-bgc-gradient-homepage-main,
                    $c-bgc-gradient-homepage-main
    ),
    url('/src/images/mobile/home/details-hotel-bg-.jpg'),
    url('/src/images/mobile/home/details-hotel-bg-2x.jpg');
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  @include tablet-s {
    background-image: linear-gradient(
                    $c-bgc-gradient-homepage-main,
                    $c-bgc-gradient-homepage-main
    ),
    url('/src/images/tablet/home/details-hotel-bg.jpg');

    @include retina {
      background-image: linear-gradient(
                      $c-bgc-gradient-homepage-main,
                      $c-bgc-gradient-homepage-main
      ),
      url('/src/images/tablet/home/details-hotel-bg.jpg'),
      url('/src/images/tablet/home/details-hotel-bg-2x.jpg');
    }
  }
  @include desktop {
    background-image: linear-gradient(
                    $c-bgc-gradient-homepage-main,
                    $c-bgc-gradient-homepage-main
    ),
    url('/src/images/desktop/home/details-hotel-bg.jpg');
    @include retina {
      background-image: $c-bgc-gradient-homepage-main,
      $c-bgc-gradient-homepage-main,
      url('/src/images/desktop/home/details-hotel-bg.jpg'),
      url('/src/images/desktop/home/details-hotel-bg-2x.jpg');
    }
  }
}

.hotel-info {
  max-width: 243px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
  display: flex;
  position: relative;

  @include tablet-s {
    max-width: 549px;
    gap: 8px;
    margin-right: 290px;
  }

  @include desktop {
    max-width: 595px;
    margin-right: 290px;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.hotel-title {
  @include font(700, 40px, 1.07, 0.3em);
  font-family: 'Film P3';
  color: $c-modal-background;
  color: $c-white-main;
  padding-left: 111px;
  text-align: center;
  @include tablet-s {
    @include font(700, 64px, 1.07, 0.3em);
    padding-left: 500px;
    position: relative;
    right: -20px;
    margin-bottom: 16px;
  }

  @include desktop {
    @include font(700, 64px, 1.07, 0.3em);
    position: relative;
    right: -20px;
    margin-bottom: 16px;
  }
}

.hotel-title-subtitle {
  @include font(700, 20px, 1.2, 0.02em);

  color: $c-modal-background;

  @include tablet-s {
    @include font(700, 24px, 1.2, 0.02em);
    margin-bottom: 8px;
  }

  @include desktop {
    @include font(700, 24px, 1.2, 0.02em);
  }
}

.hotel-text {
  @include font(600, 12px, 1.25, 0.02em);
  margin-bottom: 48px;
  color: $c-bgc-text-homepage;

  @include tablet-s {
    @include font(600, 16px, 1.25, 0.02em);
  }

  @include desktop {
    @include font(600, 16px, 1.25, 0.02em);
  }
}

.hotel-button {
  min-width: 236px;
  color: $c-main-accent;
  justify-content: center;
  align-items: center;
  padding: 14px 26px;
}

.hotel-buttons {
  @include font(700, 16px, 1.25, 0.02em);
  text-align: center;
  @include font(700, 16px, 1.25, 0.02em);
  width: 240px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include tablet-s {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 236px;
    padding-bottom: 20px;
  }
}

.hotel-button:first-of-type {
  margin-bottom: 16px;
}
