.about-kitchen {
  @extend %light-bg-lines-light;
  margin: 0 auto;

  .about-kitchen__wrapper {
    margin: 0 auto;
    max-width: 414px;
    @media screen and (min-width: 1024px) {
      max-width: 1024px;
      //height: 1238px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
    }
  }

  .about-kitchen__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 18px;
    padding-bottom: 28px;

    @media screen and (min-width: 1024px) {
      padding: 120px 47px 0px;
    }

    @media screen and (min-width: 1280px) {
      padding: 120px 85px 0px;
    }
  }

  .about-kitchen__text-wrapper {
    width: 242px;
    margin-right: auto;
    margin-bottom: 28px;

    @media screen and (min-width: 1024px) {
      width: 439px;
      margin-bottom: 142px;
    }

    @media screen and (min-width: 1280px) {
      width: 518px;
      margin-bottom: 162px;
    }
  }

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .about-kitchen__times {
    font-family: 'Times New Roman', sans-serif;
    @include font(400, 20px, 1.15, normal);
    color: $c-subtitles;
    text-align: left;
    margin-bottom: 12px;

    @media screen and (min-width: 1024px) {
      @include font(400, 32px, 1.16, normal);
      margin-bottom: 4px;
    }
  }

  .about-kitchen__logo {
    font-family: 'Film P3';
    @include font(700, 40px, 1.08, 0.03em);
    margin-bottom: 12px;
    color: $c-logo-restaurant-hotel;

    @media screen and (min-width: 1024px) {
      font-size: 64px;
      margin-bottom: 24px;
    }
  }

  .about-kitchen__text {
    @include font(600, 12px, 1.25, 0.02em);
    color: $c-text-rest-homepage;

    &--brown {
      @include font(600, 12px, 1.25, 0.02em);
      color: $c-modal-brown;
    }

    @media screen and (min-width: 1024px) {
      @include font(600, 16px, 1.25, 0.02em);

      &--brown {
        @include font(600, 16px, 1.25, 0.02em);
      }
    }
  }

  .about-kitchen__kitchen {
    display: block;
    overflow: hidden;
    max-width: 244px;
    max-height: 322px;
    margin-bottom: 32px;
    margin-left: auto;
    border-radius: 2px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 1024px) {
      position: absolute;
      top: -32px;
      right: 112px;
      min-width: 400px;
      min-height: 524px;
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }

    @media screen and (min-width: 1280px) {
      position: absolute;
      top: -33px;
      right: 180px;
      min-width: 460px;
      min-height: 574px;
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
  }

  .about-kitchen__meat-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 262px;
      width: 710px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 207px;
      width: 804px;
    }
  }

  .about-kitchen__meat {
    overflow: hidden;
    min-width: 200px;
    height: 278px;
    margin-right: 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 1024px) {
      min-width: 350px;
      min-height: 500px;
      margin-right: 48px;
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }

    @media screen and (min-width: 1280px) {
      min-width: 460px;
      min-height: 574px;
      margin-right: 32px;
      box-shadow: none;
    }
  }

  .about-kitchen-slider-wrapper {
    @include mobile-s {
      overflow: hidden;
      margin-right: -15px;
    }
    @include tablet-s {
      bottom: 50px;
      position: absolute;
      right: 47px;
      width: 400px;
    }

    @include desktop {
      width: 510px;
      position: absolute;
      right: 85px;
      bottom: 50px;
    }

    .kitchen-about-slider {
      @media screen and (max-width: 1023px) {
        transform: translateX(95px);
      }
    }

    .slick-prev-arrow {
      @include tablet-s {

        bottom: -16px;
        left: 325px;
      }
    }

    .slick-next-arrow {
      @include tablet-s {

        bottom: -16px;
        left: 395px;
      }
    }

    .slider-photo {
      @include desktop {
        img {
          width: 245px;
          height: 245px;
        }
      }
    }
  }

  //
  //.slick-prev-arrow {
  //  position: absolute;
  //  bottom: 0;
  //  right: 64px;
  //
  //  @include mobile {
  //    right: 195px;
  //  }
  //  @include tablet {
  //    right: unset;
  //    left: 0;
  //  }
  //  @include desktop {
  //    right: unset;
  //    left: 0;
  //  }
  //}
  //
  //.slick-next-arrow {
  //  position: absolute;
  //  bottom: 0;
  //  right: 0;
  //
  //  @include mobile {
  //    right: 131px;
  //  }
  //  @include tablet {
  //    right: unset;
  //    left: 64px;
  //  }
  //  @include desktop {
  //    right: unset;
  //    left: 64px;
  //  }
  //}
}
