.restaurant-hero {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 181px;
  padding-bottom: 102px;
  text-align: center;

  background-image: linear-gradient(
      $c-bgc-gradient-homepage-main,
      $c-bgc-gradient-homepage-main
    ),
    url(/src/images/mobile/restaurant/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

  @include mobile-tiny {
    overflow: hidden;
  }

  @include retina {
    background-image: linear-gradient(
        $c-bgc-gradient-homepage-main,
        $c-bgc-gradient-homepage-main
      ),
      url(/src/images/mobile/restaurant/hero-bg.jpg),
      url(/src/images/mobile/restaurant/hero-bg-2x.jpg);
  }

  @media screen and (min-width: 1024px) {
    padding-top: 188px;
    padding-bottom: 64px;
    background-image: linear-gradient(
        $c-bgc-gradient-homepage-main,
        $c-bgc-gradient-homepage-main
      ),
      url(/src/images/tablet/restaurant/hero-bg.jpg);

    @include retina {
      background-image: linear-gradient(
          $c-bgc-gradient-homepage-main,
          $c-bgc-gradient-homepage-main
        ),
        url(/src/images/tablet/restaurant/hero-bg.jpg),
        url(/src/images/tablet/restaurant/hero-bg-2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        $c-bgc-gradient-homepage-main,
        $c-bgc-gradient-homepage-main
      ),
      url(/src/images/desktop/restaurant/hero-bg.jpg);
  }

  @include retina {
    background-image: linear-gradient(
        $c-bgc-gradient-homepage-main,
        $c-bgc-gradient-homepage-main
      ),
      url(/src/images/desktop/restaurant/hero-bg.jpg),
      url(/src/images/desktop/restaurant/hero-bg-2x.jpg);
  }
}

.hero-container {
  padding: 0 10px;
  @media screen and (min-width: 1024px) {
    padding: 0 47px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 85px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-title {
  @include font(700, 96px, 1.07, 0.3em);
  font-family: 'Film P3';
  margin-bottom: 20px;

  color: $c-white-main;

  @media screen and (min-width: 414px) {
    font-size: 96px;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 16px;
    font-size: 128px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
    font-size: 128px;
  }
}

.hero-subtitle {
  margin-bottom: 44px;

  @include font(600, 16px, 1.25, 0.02em);
  font-family: 'Montserrat';

  color: $c-white-main;

  @media screen and (min-width: 1024px) {
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 24px;
  }
}

.hero-sec-title {
  margin-bottom: 113px;
  @include font(700, 32px, 1.15, 0.05em);
  font-family: 'Times New Roman';

  color: $c-white-main;

  @media screen and (min-width: 1024px) {
    margin-bottom: 144px;
    font-size: 36px;
    line-height: calc(41 / 36);
  }
}

.restaurant-hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 236px;
  height: 48px;
  padding: 15px 24px 13px 24px;

  color: $c-main-accent;

  @media screen and (min-width: 1024px) {
    height: 49px;
  }
}

.restaurant-soc-list {
  position: absolute;
  display: flex;
  gap: 20px;
  left: 15px;
  top: auto;
  bottom: 20px;

  @media screen and (min-width: 1024px) {
    left: 47px;
    bottom: 15px;
  }

  @include desktop {
    display: none;
  }
}

.rest-soc-icon {
  fill: $c-main-accent;

  transition: all $transition-cubic;
}

.rest-soc-icon:focus,
.rest-soc-icon:hover {
  fill: $c-second-accent;
}

.contact-map {
  position: absolute;
  top: 64px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    top: auto;
    left: 47px;
    bottom: 64px;
  }

  @media screen and (min-width: 1280px) {
    top: auto;
    left: 85px;
    bottom: 64px;
  }
}

.contact-map-thumb {
  width: 210px;
  height: 47px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;

  @media screen and (min-width: 1024px) {
    width: 285px;
    height: 56px;
  }

  @media screen and (min-width: 1280px) {
    width: 285px;
    height: 56px;
  }
}

.contact-link-rest {
  @include font(400, 12px, 1.25, 0.01em);
  font-family: 'Montserrat';
  display: flex;
  gap: 8px;
  text-align: start;

  color: $c-address-homepage;
  @media screen and (min-width: 1024px) {
    @include font(400, 16px, 1.25, 0.01em);
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media screen and (min-width: 1280px) {
    @include font(400, 16px, 1.25, 0.01em);
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.icon-map-tab {
  fill: $c-main-accent;
}

.hero-wrap-rest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 60px;
    justify-content: flex-end;
  }
}
