.restaurant-about-section-container {
  overflow-x: visible;
  max-width: unset;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  @include tablet-s {
    padding-right: 47px;
    padding-left: 47px;
  }
  @include desktop {
    padding-right: 85px;
    padding-left: 85px;
    max-width: 1280px;
    position: relative;
  }
}

.restaurant-about__container {
  @include mobile-s {
    max-width: 414px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  @include tablet-s {
    padding-right: 47px;
    padding-left: 47px;
  }
  @include desktop {
    padding-right: 85px;
    padding-left: 85px;
    max-width: 1280px;
  }
}

.restaurant-about__first-image-wrapper {
  z-index: 200;
}

.restaurant-about {
  @extend %light-bg-lines;
  @media screen and (min-width: 1024px) {
    padding-top: 0;
  }
  @media screen and (min-width: 1024px) {
    padding-bottom: 50px;
  }
}

.restaurant-about__title {
  @extend %visually-hidden;
}

.restaurant-about__wrapper-first {
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -32px;
    padding-top: 0;
  }
}
.restaurant-about__slogan {
  font-family: 'Times New Roman';
  @include font(400, 20px, 1.15, normal);
  color: $c-subtitles;
  margin-bottom: 20px;
  @media screen and (min-width: 1024px) {
    font-size: 32px;
    margin-bottom: 4px;
  }
}

.restaurant-about__logo {
  @include font(700, 40px, 1.08, 0.3em);
  text-transform: uppercase;
  font-family: 'Film P3';
  margin-bottom: 12px;
  @media screen and (min-width: 1024px) {
    font-size: 64px;
    margin-bottom: 16px;
    color: $c-logo-restaurant-hotel;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 24px;
    color: $c-logo-homepage;
  }
}
.restaurant-about__info-first {
  @include font(600, 12px, 1.25, 0.02em);
  margin-bottom: 28px;
  color: $c-text-rest-homepage;
  width: 258px;
  @media screen and (min-width: 1024px) {
    font-size: 16px;
    width: 440px;
  }
  @media screen and (min-width: 1280px) {
    width: 518px;
  }
}

.restaurant-about_photo-first {
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 16px;
}

.restaurant-about__wrapper-second {
  @include tablet-s {
    margin-top: -32px;
    margin-bottom: 175px;
  }
  @include desktop {
    margin-top: -70px;
    padding-bottom: 175px;
  }
}

.restaurant-about__wrapper-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 1024px) {
    justify-content: start;
    gap: 50px;
  }
}

.restaurant-about__info-second {
  @include font(600, 12px, 1.25, 0.02em);
  color: $c-modal-brown;
  width: 163px;
  @media screen and (min-width: 1024px) {
    font-size: 16px;
    width: 312px;
  }
}

.restaurant-about__slider-wrapper {
  margin-top: 32px;
  margin-left: 70px;

  @include tablet-s {
    position: relative;
    right: 0;
    bottom: 310px;

    .image-slider {
      margin: 0;
      width: 428px;
    }

    .image-slider-item {
      margin: 0 20px;
    }
  }

  @include desktop {
    position: absolute;
    right: 0;
    bottom: 30px;
  }

  @include desktop {
    .image-slider {
      margin: 0;
      width: 548px;
    }

    .image-slider-item {
      margin: 0 20px;
    }
  }
}

.restaurant-about__slider {
  right: -20px;

  @include tablet-s {
    position: absolute;
    bottom: -310px;
    right: 60px;

    .slick-prev-arrow {
      left: unset;
      right: 60px;
      bottom: -27px;
    }
    .slick-next-arrow {
      left: unset;
      right: 0;
      bottom: -27px;
    }
  }

  @include desktop {
    .slick-prev-arrow {
      left: unset;
      right: 60px;
      bottom: -27px;
    }
    .slick-next-arrow {
      left: unset;
      right: 0;
      bottom: -27px;
    }
  }
}
