.restaurant-container {
  max-width: unset;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  @include tablet-s {
    padding-right: 47px;
    padding-left: 47px;
  }
  @include desktop {
    padding-right: 85px;
    padding-left: 85px;
  }
}
.restaurant-details {
  max-width: 1600px;
  height: 100%;
  background-image: linear-gradient(
      $c-bgc-gradient-rest-hotel,
      $c-bgc-gradient-rest-hotel
    ),
    url('/src/images/mobile/home/details-rest-bg.jpg');
  @include retina {
    background-image: $c-bgc-gradient-rest-hotel, $c-bgc-gradient-rest-hotel,
      url('/src/images/mobile/home/details-rest-bg.jpg'),
      url('/src/images/mobile/home/details-rest-bg-2x.jpg');
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

  @include tablet-s {
    background-image: linear-gradient(
        $c-bgc-gradient-rest-hotel,
        $c-bgc-gradient-rest-hotel
      ),
      url('/src/images/tablet/home/details-rest-bg.jpg');
    @include retina {
      background-image: $c-bgc-gradient-rest-hotel, $c-bgc-gradient-rest-hotel,
        url('/src/images/tablet/home/details-rest-bg.jpg'),
        url('/src/images/tablet/home/details-rest-bg-2x.jpg');
    }
  }

  @include desktop {
    max-height: 620px;
    background-image: linear-gradient(
        $c-bgc-gradient-rest-hotel,
        $c-bgc-gradient-rest-hotel
      ),
      url('/src/images/desktop/home/details-rest-bg.jpg');
    @include retina {
      background-image: $c-bgc-gradient-rest-hotel, $c-bgc-gradient-rest-hotel,
        url('/src/images/desktop/home/details-rest-bg.jpg'),
        url('/src/images/desktop/home/details-rest-bg-2x.jpg');
    }
  }
}
.restaurant {
  color: #ffffff;
  margin-left: 140px;
  margin-bottom: 48px;

  @include tablet-s {
    margin-left: 278px;
  }
  @include desktop {
    margin-left: 338px;
    margin-bottom: 40px;
  }
}
.restaurant-logo {
  @include font(700, 40px, 1.07, 0.3em);
  font-family: 'Film P3';
  color: #ffffff;
  margin-bottom: 12px;

  @include tablet-s {
    font-size: 64px;
    margin-bottom: 16px;
  }

  @include desktop {
    font-size: 64px;
    margin-bottom: 16px;
  }
}
.restaurant-title {
  @include font(700, 20px, 1.2, 0.02em);
  margin-bottom: 12px;

  @include tablet-s {
    font-size: 24px;
    margin-bottom: 8px;
  }

  @include desktop {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.restaurant-text {
  @include font(600, 12px, 1.25, 0.02em);
  margin-bottom: 20px;
  color: #bababa;

  @include tablet-s {
    font-size: 16px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.restaurant-slick-buttons-wrapper {
  @include tablet-s {
    display: flex;
    flex-direction: row-reverse;
  }
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
  }
}

.restaurant-slic-tab {
  overflow: hidden;
  margin-right: -15px;
  padding-left: 25px;
  @include tablet-s {
    margin-right: 0;
  }
}

.restaurant-slic {
  width: 665px;
  position: relative;
  padding-bottom: 46px;
  margin-bottom: 14px;
  .restaurant-slic-img {
    margin-right: 16px;
  }
  .slick-prev-arrow,
  .slick-next-arrow {
    background-color: transparent;
    position: absolute;
    z-index: 228;
    border: 0;
    padding: 0;
    bottom: 0;
  }

  .slick-prev-arrow {
    left: 0;
  }
  .slick-next-arrow {
    left: 60px;
  }
}

.restaurant-slic-img img:not(:first-child) {
  max-height: 270px;
  max-width: 274px;
}
.button-arrow-left,
.button-arrow-right {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.icon-menu {
  fill: #ffffff;
}

.button-arrow-right {
  margin-left: 33px;
}

// Кнопки

.restaurant-buttons {
  @include font(700, 16px, 1.25, 0.02em);
  text-align: center;

  @include font(700, 16px, 1.25, 0.02em);
  width: 100%;
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 330px;
    padding-bottom: 60px;
  }
}
.button {
}
.button-dark {
}
.restaurant-button,
.buttons-link {
  display: inline-block;
  border: 2px solid #ffffff;
}

.restaurant-button {
  padding: 14px 24px;
  margin-bottom: 16px;
}
.buttons-link {
  padding: 14px 31px;
}
