.room-details-container {
  padding: 32px 15px;
  @include tablet {
    padding: 48px 97px 40px 47px;
  }
}

.room-detail-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.room-details-title {
  font-family: 'Times New Roman', serif;
  color: $c-black-main;
  @include font(400, 32px, 1.15, normal);
  text-transform: uppercase;
}

.room-details-text {
  font-family: 'Montserrat';
  color: $c-text-hotel;
  @include font(700, 16px, 1.25, 0.02em);
}

.room-details-subtitle {
  font-family: 'Times New Roman', serif;
  color: $c-black-main;
  @include font(700, 24px, 1.17, normal);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.room-details-button-wrapper {
  padding-top: 32px;
}
.room-details-link {
  @include font(500, 16px, 1.25, 0.02em);
  color: $c-second-accent;
  @extend %justify-center;
  transition: color $transition-cubic;
  &:hover,
  &:focus {
    color: $c-main-accent;
  }
  &:hover .room-details-icon,
  &:focus .room-details-icon {
    fill: $c-main-accent;
  }
}

.button-book {
  margin: 0 auto 20px;
}
.room-details-icon {
  fill: $c-second-accent;
  transition: fill $transition-cubic;
  margin-left: 12px;
}
