.room-tripple {
  background-color: $c-bgc-biege;

  .hotel-room-info {
    align-items: flex-end;
  }

  .hotel-label {
    position: relative;
    right: -10px;
    @include tablet {
      right: -18px;
    }
    @include desktop {
      right: -18px;
    }
  }

  .hotel-room-description {
    width: 242px;

    @include tablet {
      width: 400px;
    }

    @include desktop {
      width: 400px;
    }
  }

  .hotel-room-photo {
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      margin-left: unset;
      margin-right: auto;
    }

    @include tablet {
      position: absolute;
      top: -104px;
      right: 512px;
    }

    @include desktop {
      position: absolute;
      top: -104px;
      right: 640px;
    }
  }

  .down-wrapper {
    @include tablet {
      flex-direction: row-reverse;
    }
    @include desktop {
      flex-direction: row-reverse;
    }
  }

  .slider-wrapper {
    @include mobile {
      transform: translateX(113px);
    }
  }

  .slick-prev-arrow {
    position: absolute;
    bottom: 0;
    right: 64px;

    @include mobile {
      right: 195px;
    }
    @include tablet {
      right: unset;
      left: 0;
    }
    @include desktop {
      right: unset;
      left: 0;
    }
  }

  .slick-next-arrow {
    position: absolute;
    bottom: 0;
    right: 0;

    @include mobile {
      right: 131px;
    }
    @include tablet {
      right: unset;
      left: 64px;
    }
    @include desktop {
      right: unset;
      left: 64px;
    }
  }
}
