.room-tripple {
  background-color: $c-bgc-biege;

  @include desktop {
    padding-top: 72px;
    padding-bottom: 72px;
    background: linear-gradient(
      to right,
      $c-bgc-biege 338px,
      $c-bg-gradient-footer 339px,
      $c-bgc-biege 340px,
      $c-bgc-biege 639px,
      $c-bg-gradient-footer 640px,
      $c-bgc-biege 641px,
      $c-bgc-biege 941px,
      $c-bg-gradient-footer 942px,
      $c-bgc-biege 943px
    );
  }

  .hotel-room-info {
    align-items: flex-end;
  }

  .hotel-label {
    position: relative;
    right: -10px;
    @include tablet-s {
      right: -18px;
    }
    @include desktop {
      right: -18px;
    }
  }

  .hotel-room-description {
    width: 242px;

    @include tablet-s {
      width: 400px;
    }

    @include desktop {
      width: 400px;
    }
  }

  .hotel-room-photo {
    margin-left: auto;
    margin-right: auto;

    @include mobile-s {
      margin-left: unset;
      margin-right: auto;
    }

    @include tablet-s {
      position: absolute;
      top: -104px;
      right: 512px;
    }

    @include desktop {
      position: absolute;
      top: -104px;
      right: 640px;
    }
  }

  .down-wrapper {
    @include tablet-s {
      flex-direction: row-reverse;
    }
    @include desktop {
      flex-direction: row-reverse;
    }
  }

  .slider-wrapper {
    @include mobile-s {
      transform: translateX(113px);
    }
  }

  .slick-prev-arrow {
    position: absolute;
    bottom: 0;
    left: 0px;

    @include mobile-s {
      left: unset;
      right: 225px;
    }
    @include tablet-s {
      right: unset;
      left: 0;
    }
    @include desktop {
      right: unset;
      left: 0;
    }
  }

  .slick-next-arrow {
    position: absolute;
    bottom: 0;
    left: 64px;

    @include mobile-s {
      left: unset;
      right: 150px;
    }
    @include tablet-s {
      right: unset;
      left: 64px;
    }
    @include desktop {
      right: unset;
      left: 64px;
    }
  }
}
