.room-lux {
  background-color: $c-bgc-light;

  @include tablet {
    background-image: linear-gradient(
      to right,
      $c-bgc-light 278px,
      $c-bg-gradient-footer 279px,
      $c-bgc-light 280px,
      $c-bgc-light 511px,
      $c-bg-gradient-footer 512px,
      $c-bgc-light 513px,
      $c-bgc-light 745px,
      $c-bg-gradient-footer 746px,
      $c-bgc-light 747px
    );
  }

  .hotel-room-description {
    width: 258px;

    @include tablet {
      width: 440px;
    }

    @include desktop {
      width: 400px;
    }
  }

  .hotel-room-photo {
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      margin-right: unset;
      margin-left: auto;
    }

    @include tablet {
      position: absolute;
      top: -104px;
      left: 512px;
    }

    @include desktop {
      position: absolute;
      top: -104px;
      left: 640px;
    }
  }

  .slider-wrapper {
    @include mobile {
      transform: translateX(-113px);
    }
  }

  .slick-prev-arrow {
    position: absolute;
    bottom: 0;
    left: 0px;
    @include mobile {
      left: 108px;
    }
    @include tablet {
      left: unset;
      right: 77px;
    }
    @include desktop {
      left: unset;
      right: 77px;
    }
  }

  .slick-next-arrow {
    position: absolute;
    bottom: 0;
    left: 64px;
    @include mobile {
      left: 172px;
    }
    @include tablet {
      left: unset;
      right: 13px;
    }
    @include desktop {
      left: unset;
      right: 13px;
    }
  }
}
