.room-standard {
  background-color: $c-bgc-light;

  .hotel-room-description {
    width: 242px;

    @include tablet {
      width: 400px;
    }

    @include desktop {
      width: 400px;
    }
  }

  .hotel-room-photo {
    margin-left: auto;
    @include tablet {
      position: absolute;
      top: -32px;
      left: 512px;
    }
  }

  .slider-wrapper {
    @include mobile {
      transform: translateX(-113px);
    }
  }

  .slick-prev-arrow {
    position: absolute;
    bottom: 0;
    left: 0px;
    @include mobile {
      left: 108px;
    }
  }

  .slick-next-arrow {
    position: absolute;
    bottom: 0;
    left: 64px;

    @include mobile {
      left: 172px;
    }
  }
}
