.room-details {
  padding: 32px 15px;
}

.room-detail-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.room-details-title {
  font-family: 'Times New Roman', serif;
  color: $c-black-main;
  @include font(400, 32px, 1.15, normal);
  text-transform: uppercase;
}

.room-details-text {
  font-family: 'Montserrat';
  color: $c-text-hotel;
  @include font(700, 16px, 1.25, 0.02em);
}

.room-details-subtitle {
  font-family: 'Times New Roman', serif;
  color: $c-black-main;
  @include font(700, 24px, 1.17, normal);
  text-transform: uppercase;
  margin-bottom: 16px;
  // display: block;
}
