.room-hero {
  position: relative;
  margin: 0 auto;

  .room-hero-container {
    padding: 0;
    position: relative;
    @include tablet-s {
      max-width: 1279px;
    }
  }

  .hero-top-gradient {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 138px;
    background: linear-gradient(
      #000 0%,
      rgba(0, 0, 0, 0.55) 54.17%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .room-hero-slider_item {
    display: block !important;
  }

  .slick-arrow {
    font-size: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    background: $c-arrows-background
      url(/src/images/icons/yellow_arrow-left.svg) center no-repeat;
    position: absolute;
    top: calc(50% - 20px);
    outline: none;
    border: 0;
    transition: background $transition-cubic;

    &:hover {
      background: $c-arrows-background
        url(../images/icons/hero-slider-arrow-hover.svg) center no-repeat;
    }

    &::before {
      display: none;
    }

    &.slick-prev {
      left: 15px;
      @include tablet-s {
        left: 47px;
      }
      @include desktop {
        left: 85px;
      }
    }

    &.slick-next {
      right: 15px;
      transform: rotate(180deg);
      @include tablet-s {
        right: 47px;
      }
      @include desktop {
        right: 85px;
      }
    }
  }

  .hero-content {
    position: absolute;
    bottom: 0;
    padding-bottom: 18px;
    width: 100%;
    background: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.55) 54.17%,
      $c-black-main 100%
    );
    @include tablet-s {
      padding-bottom: 24px;
    }
    @include desktop {
      padding-bottom: 48px;
    }
  }

  .room-title {
    @include font(700, 28px, 1.15, 0.05em);
    color: white;
    margin-bottom: 14px;
    font-family: 'Times New Roman';
    @include tablet {
      @include font(700, 36px, 1.25, 0.05em);
      margin-bottom: 24px;
    }
    @include desktop {
      @include font(700, 36px, 1.25, 0.05em);
      margin-bottom: 24px;
    }
  }

  .room-info {
    @include font(700, 12px, 1.15, 0.02em);
    font-family: 'Montserrat';
    color: white;
    margin-bottom: 17px;
    max-width: 325px;
    @include desktop {
      @include font(700, 16px, 1.25, 0.02);
      margin-bottom: 24px;
      max-width: 400px;
    }
    @include desktop {
      @include font(700, 16px, 1.25, 0.02);
      margin-bottom: 24px;
      max-width: 400px;
    }
  }

  .button-price {
    position: absolute;
    right: 74px;
    bottom: 40px;
    @include tablet-s {
      bottom: 64px;
    }
    @include desktop {
      right: 85px;
      bottom: 66px;
    }
  }

  .room-address-mobile {
    @include tablet-s() {
      display: none;
    }
    @include desktop() {
      display: none;
    }
  }

  .room-address {
    @include mobile-s {
      display: none;
    }
    @include mobile-small-s {
      display: none;
    }
  }

  .room-address {
    background-color: transparent;
    height: 47px;
    width: 285px;
    padding-right: 0;
    padding-left: 10px;

    .contact-address-link {
      color: $c-address-homepage;
      @include font(400, 16px, 1.25, 0.01);
    }
  }

  .room-address-mobile {
    background-color: transparent;
    height: 47px;
    width: 210px;
    padding-right: 0;

    .contact-address-link {
      color: $c-address-homepage;
      @include font(400, 12px, 1.25, 0.01);
    }
  }

  .room-address-mobile {
    position: absolute;
    z-index: 20;

    @include mobile-small-s {
      top: 65px;
      right: 15px;
    }

    @include mobile-s {
      top: 65px;
      right: 15px;
    }
  }

  .contacts-holder {
    display: flex;
    align-items: center;
    gap: 41px;
    @include desktop {
      display: none;
    }
  }

  .social-list-room-hero {
    .social-list {
      @include tablet-s {
        flex-direction: row;
      }
    }
  }
}
