<section class="section-contacts">
  <div class="container">
    <h2 class="contacts-title">Контакти</h2>
    <!-- лого -->
    <a href="#" class="logo-contacts logo">MIMIHO</a>
    <p class="contacts-sub-title">Ресторанно-готельний комплекс</p>

    <ul class="contacts-list">
      <li class="contacts-item">
        <!-- посилання Ресторан веде на секцію About our restaurant -->
        <a href="#" class="contact-title-link">Ресторан</a>
        <div class="contact-thumb">
          <a href="tel:+380955559533" class="contacts-tel-link tel-restaurant">
            <svg class="contacts-icon">
              <use href="/src/images/icons/sprite.svg#icon-tel"></use></svg
            >095 555 95 33</a
          >
        </div>
      </li>
      <li class="contacts-item">
        <!-- посилання Готель веде на секцію About our hotel -->
        <a href="#" class="contact-title-link link">Готель</a>
        <div class="contact-thumb">
          <a href="tel:+380668491089" class="contacts-tel-link"
            ><svg class="contacts-icon">
              <use href="/src/images/icons/sprite.svg#icon-tel"></use></svg
            >066 849 10 89</a
          >
          <a href="tel:+380672758540" class="contacts-tel-link"
            >067 275 85 40</a
          >
        </div>
      </li>
      <li class="contacts-item">
        <div class="contact-thumb-address">
          <a
            href="https://goo.gl/maps/3QhkwfqdRxgBBafZ7"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contact-address-link link"
            ><svg class="contacts-icon">
              <use href="/src/images/icons/sprite.svg#icon-map"></use></svg
            >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
          >
        </div>
      </li>
    </ul>
    <div class="contacts-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2630.741235917746!2d34.52284200317613!3d49.59910100552063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1670596625278!5m2!1sru!2sua"
        width="384"
        height="220"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
