<section class="home-hero">
    <div class="hero-container">
        <h1 class="hero-home-title">MIMIHO</h1>
        <p class="hero-home-subtitle">Ресторанно-готельний комплекс</p>
        <h2 class="hero-home-sec-title">СМАК ЖИТТЯ 24/7</h2>
        <div class="hero-wrap-home">
            <button type="button" class="button button-light home-hero-button js-open-modal" data-modal="1">Забронювати столик</button>
            <button type="button" class="button button-light home-hero-button js-open-modal" data-modal="2">Забронювати номер</button>
        </div>
    </div>
    <div class="nav-home">
        <div class="contact-map-home contact-map-thumb">
            <a href="https://goo.gl/maps/3QhkwfqdRxgBBafZ7" target="_blank" rel="noopener noreferrer nofollow"
                class="contact-link-hotel link">
                <svg class="icon-map-tab" width="24" height="24">
                    <use href="/src/images/icons/sprite.svg#icon-map"></use>
                </svg>
                Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15
            </a>
        </div>
        <ul class="home-soc-list">
            <li class="rest-soc-item">
                <a class="rest-soc-link" href="https://www.instagram.com/" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <svg class="rest-soc-icon" width="24" height="24">
                        <use href="./images/icons/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="rest-soc-item">
                <a class="rest-soc-link" href="https://www.facebook.com/" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <svg class="rest-soc-icon" width="24" height="24">
                        <use href="./images/icons/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="rest-soc-item">
                <a class="rest-soc-link" href="https://xn--80affa3aj0al.xn--80asehdb/" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <svg class="rest-soc-icon" width="24" height="24">
                        <use href="./images/icons/sprite.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>