<section class="home-hero">
    <div class="contact-mob">
        <a href="https://goo.gl/maps/3QhkwfqdRxgBBafZ7" target="_blank" rel="noopener noreferrer nofollow"
            class="contact-mob-link link">
            <svg class="icon-map-mob" width="20" height="20">
                <use href="/src/images/icons/sprite.svg#icon-map"></use>
            </svg>
            Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15
        </a>
    </div>
    <div class="hero-container container">
        <h1 class="hero-home-title">MIMIHO</h1>
        <p class="hero-home-subtitle">Ресторанно-готельний комплекс</p>
        <h2 class="hero-home-sec-title">СМАК ЖИТТЯ 24/7</h2>
        <div class="hero-button-wrap-home">
            <button type="button" class="button button-light restaurant-hero-button">Забронювати столик</button>
            <button type="button" class="button button-light restaurant-hero-button">Забронювати номер</button>
        </div>
    </div>
    <div class="container-tab">
        <div class="contact-tab">
            <a href="https://goo.gl/maps/3QhkwfqdRxgBBafZ7" target="_blank" rel="noopener noreferrer nofollow"
                class="contact-tab-link link">
                <svg class="icon-map-tab" width="24" height="24">
                    <use href="/src/images/icons/sprite.svg#icon-map"></use>
                </svg>
                Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15
            </a>
        </div>
        <div class="hero-wrap-tab">
            <button type="button" class="button button-light restaurant-hero-button">Забронювати столик</button>
            <button type="button" class="button button-light restaurant-hero-button">Забронювати номер</button>
        </div>
    </div>
    <ul class="rest-soc-list">
        <li class="rest-soc-item">
            <a class="rest-soc-link" href="https://xn--80affa3aj0al.xn--80asehdb/" target="_blank"
                rel="noopener noreferrer nofollow">
                <svg class="rest-soc-icon" width="24" height="24">
                    <use href="./images/icons/sprite.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li class="rest-soc-item">
            <a class="rest-soc-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer nofollow">
                <svg class="rest-soc-icon" width="24" height="24">
                    <use href="./images/icons/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        <li class="rest-soc-item">
            <a class="rest-soc-link" href="https://www.instagram.com/" target="_blank"
                rel="noopener noreferrer nofollow">
                <svg class="rest-soc-icon" width="24" height="24">
                    <use href="./images/icons/sprite.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
    </ul>
</section>