<section class="hotel-about">

    <div>
     <h2>Amet minim mollit non</h2>
    <h3>MIMIHO</h3>
    <b>ДВОМІСНИЙ НОМЕР люкс</b>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <div class="one-time">
<div><h4>1</h4></div>
<div><h4>2</h4></div>
<div><h4>3</h4></div>
<div><h4>4</h4></div>
     </div>
   <div>
    <button class="hotel-about-button" type="button">Детальніше</button>
    <button class="hotel-about-button" type="button">Переглянути ціни</button>
    
</div>
    <div>
        <h2>Amet minim mollit non</h2>
        <h3>MIMIHO</h3>
        <b>ТРЬОХМІСНИЙ НОМЕР</b>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
        <div class="one-time">
            <div><h4>1</h4></div>
            <div><h4>2</h4></div>
            <div><h4>3</h4></div>
            <div><h4>4</h4></div>
                         </div>
   <div>
        <button class="hotel-about-button" type="button">Детальніше</button>
        <button class="hotel-about-button" type="button">Переглянути ціни</button>
    </div>
  
    <div> 
        <h2>Amet minim mollit non</h2>
        <h3>MIMIHO</h3>
        <b>ДВОМІСНИЙ НОМЕР</b>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
        <div class="one-time">
            <div><h4>1</h4></div>
            <div><h4>2</h4></div>
            <div><h4>3</h4></div>
            <div><h4>4</h4></div>
      </div>
      <div>
        <button class="hotel-about-button" type="button">Детальніше</button>
        <button class="hotel-about-button" type="button">Переглянути ціни</button>
    </div>

    </section>
    