<section class="hotel-about">
    <div class="about-hotel-wrapper container">
        <div class="about-hotel-info">
            <h2 class="about-title visually-hidden">About our hotel</h2>
                      <h3 class="about-hotel-title">Amet minim mollit non</h3>
                      <a class="about-hotel-link" href="#">MIMIHO</a>
          
               
                <p class="about-hotel-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.
                </p>
             
              </div>
                <div class="photo-room">
                <picture>
                            <source media="(min-width: 1280px)"
                            srcset="/src/images/desktop/home/about-hotel-top.jpg    1x, /src/images/desktop/home/about-hotel-top-2x.jpg 2x">
                        <source media="(min-width: 1025px)"
                            srcset="/src/images/tablet/home/about-hotel-top.jpg    1x, /src/images/tablet/home/about-hotel-top-2x.jpg 2x">
                        <source media="(min-width: 415px)"
                            srcset="/src/images/mobile/home/about-hotel-top.jpg    1x, /src/images/mobile/home/about-hotel-top-2x.jpg 2x">
                        <img class="image-room" src="/src/images/mobile/home/about-hotel-top.jpg"
                            alt="Спальне місце в номері">
                     </picture>
            </div>
           <div class="hotel-reception">
                <div class="hotel-reception-text">
                <p >
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.
                </p>
                </div>
                <div class="hotel-photo">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="/src/images/desktop/home/about-hotel-bottom.jpg    1x, /src/images/desktop/home/about-hotel-bottom-2x.jpg 2x">
                    <source media="(min-width: 1025px)"
                        srcset="/src/images/tablet/home/about-hotel-bottom.jpg    1x, /src/images/tablet/home/about-hotel-bottom-2x.jpg 2x">
                    <source media="(min-width: 415px)"
                        srcset="/src/images/mobile/home/about-hotel-bottom.jpg    1x, /src/images/mobile/home/about-hotel-bottom-2x.jpg 2x">
                    <img class="image" src="/src/images/mobile/home/about-hotel-bottom.jpg"
                        alt="Фото дивана біля ресепшене"
                        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (max-width: 1024px) 244px, 100vw" />
                </picture>
            </div>
          </div>
            <!-- slider -->
            <div class="down-wrapper">
                <div class="slider-wrapper">
                  <div class="hotel-room-slider slider-room-lux">
                    <div class="slider-photo slider-room_item">
                      <picture>
                        <source
                          media="(max-width: 1024px)"
                          srcset="
                            ./images/tablet/home/about-hotel-slider-1.jpg    1x,
                            ./images/tablet/home/about-hotel-slider-1-2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 1280px)"
                          srcset="
                            ./images/desktop/home/about-hotel-slider-new-1.jpg   1x,
                            ./images/desktop/home/about-hotel-slider-1-new-2x.jpg 2x
                          "
                        />
                        <img
                          src="./images/tablet/home/about-hotel-slider-1.jpg"
                          alt="Ресепшин"
                        />
                      </picture>
                    </div>
                    <div class="slider-photo slider-room_item">
                      <picture>
                        <source
                          media="(max-width: 1024px)"
                          type="image/jpg"
                          srcset="
                            ./images/tablet/home/about-hotel-slider-2.jpg    1x,
                            ./images/tablet/home/about-hotel-slider-2-2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 1280px)"
                          type="image/jpg"
                          srcset="
                            ./images/desktop/home/about-hotel-slider-new-2.jpg    1x,
                            ./images/desktop/home/about-hotel-slider-2-new-2x.jpg 2x
                          "
                        />
                        <img src="./images/tablet/home/about-hotel-slider-2.jpg" alt="Рушники" />
                      </picture>
                    </div>
                    <div class="slider-photo slider-room_item">
                      <picture>
                        <source
                          media="(max-width: 1024px)"
                          srcset="
                            ./images/tablet/home/about-hotel-slider-3.jpg    1x,
                            ./images/tablet/home/about-hotel-slider-3-2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 1280px)"
                          srcset="
                            ./images/desktop/home/about-hotel-slider-3.jpg    1x,
                            ./images/desktop/home/about-hotel-slider-3-2x.jpg 2x
                          "
                        />
                        <img
                          src="./images/tablet/home/about-hotel-slider-3.jpg"
                          alt="Диван біля комоду"
                        />
                      </picture>
                    </div>
                    <div class="slider-photo slider-room_item">
                      <picture>
                        <source
                          media="(max-width: 1024px)"
                          type="image/jpg"
                          srcset="
                            ./images/tablet/home/about-hotel-slider-4.jpg    1x,
                            ./images/tablet/home/about-hotel-slider-4-2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 1280px)"
                          type="image/jpg"
                          srcset="
                            ./images/desktop/home/about-hotel-slider-4.jpg    1x,
                            ./images/desktop/home/about-hotel-slider-4-2x.jpg 2x
                          "
                        />
                        <img
                          src="./images/tablet/home/about-hotel-slider-4.jpg"
                          alt="Ванна кімната"
                        />
                      </picture>
                    </div>
                    <div class="slider-photo slider-room_item">
                        <picture>
                          <source
                            media="(max-width: 1024px)"
                            type="image/jpg"
                            srcset="
                              ./images/tablet/home/about-hotel-slider-5.jpg    1x,
                              ./images/tablet/home/about-hotel-slider-5-2x.jpg 2x
                            "
                          />
                          <source
                            media="(min-width: 1280px)"
                            type="image/jpg"
                            srcset="
                              ./images/desktop/home/about-hotel-slider-5.jpg    1x,
                              ./images/desktop/home/about-hotel-slider-5-2x.jpg 2x
                            "
                          />
                          <img
                            src="./images/tablet/home/about-hotel-slider-5.jpg"
                            alt="Білий диван"
                          />
                        </picture>
                      </div>
                      <div class="slider-photo slider-room_item">
                        <picture>
                          <source
                            media="(max-width: 1024px)"
                            type="image/jpg"
                            srcset="
                              ./images/tablet/home/about-hotel-slider-6.jpg    1x,
                              ./images/tablet/home/about-hotel-slider-6-2x.jpg 2x
                            "
                          />
                          <source
                            media="(min-width: 1280px)"
                            type="image/jpg"
                            srcset="
                              ./images/desktop/home/about-hotel-slider-6.jpg    1x,
                              ./images/desktop/home/about-hotel-slider-6-2x.jpg 2x
                            "
                          />
                          <img
                            src="./images/tablet/home/about-hotel-slider-6.jpg"
                            alt="Білий умивальник"
                          />
                        </picture>
                      </div>
                      <div class="slider-photo slider-room_item">
                        <picture>
                          <source
                            media="(max-width: 1024px)"
                            type="image/jpg"
                            srcset="
                              ./images/tablet/home/about-hotel-slider-7.jpg    1x,
                              ./images/tablet/home/about-hotel-slider-7-2x.jpg 2x
                            "
                          />
                          <source
                            media="(min-width: 1280px)"
                            type="image/jpg"
                            srcset="
                              ./images/desktop/home/about-hotel-slider-7.jpg    1x,
                              ./images/desktop/home/about-hotel-slider-7-2x.jpg 2x
                            "
                          />
                          <img
                            src="./images/tablet/home/about-hotel-slider-7.jpg"
                            alt="Бежевий диван"
                          />
                        </picture>
                      </div>
                      <div class="slider-photo slider-room_item">
                        <picture>
                          <source
                            media="(max-width: 1024px)"
                            type="image/jpg"
                            srcset="
                              ./images/tablet/home/about-hotel-slider-8.jpg    1x,
                              ./images/tablet/home/about-hotel-slider-8-2x.jpg 2x
                            "
                          />
                          <source
                            media="(min-width: 1280px)"
                            type="image/jpg"
                            srcset="
                              ./images/desktop/home/about-hotel-slider-8.jpg    1x,
                              ./images/desktop/home/about-hotel-slider-8-2x.jpg 2x
                            "
                          />
                          <img
                            src="./images/tablet/home/about-hotel-slider-8.jpg"
                            alt="Рушник з кремом"
                          />
                        </picture>
                      </div>
                  </div>
                </div>
               
              </div>
            </div> 
    
 
</section>