<section class="hotel-about">
  <div class="about-hotel-wrapper container">
    <div class="about-hotel-info">
      <h3 class="about-title">About our hotel</h3>
      <h4 class="about-hotel-title">Amet minim mollit non</h4>
      <h4 class="about-hotel-name">MIMIHO</h4>
      <p class="about-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="photo-room">
      <picture>
        <source
          media="(max-width: 1023px)"
          srcset="
            /src/images/mobile/home/about-hotel-top.jpg    1x,
            /src/images/mobile/home/about-hotel-top-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /src/images/desktop/home/about-hotel-top.jpg    1x,
            /src/images/desktop/home/about-hotel-top-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            /src/images/tablet/home/about-hotel-top.jpg    1x,
            /src/images/tablet/home/about-hotel-top-2x.jpg 2x
          "
        />
        <img
          class="image-room"
          src="/src/images/mobile/home/about-hotel-top.jpg"
          alt="Спальне місце в номері"
        />
      </picture>
    </div>
    <div class="hotel-reception">
      <div class="hotel-reception-text">
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="hotel-photo">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /src/images/desktop/home/about-hotel-bottom.jpg    1x,
              /src/images/desktop/home/about-hotel-bottom-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1025px)"
            srcset="
              /src/images/tablet/home/about-hotel-bottom.jpg    1x,
              /src/images/tablet/home/about-hotel-bottom-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 415px)"
            srcset="
              /src/images/mobile/home/about-hotel-bottom.jpg    1x,
              /src/images/mobile/home/about-hotel-bottom-2x.jpg 2x
            "
          />
          <img
            class="image"
            src="/src/images/mobile/home/about-hotel-bottom.jpg"
            alt="Фото дивана біля ресепшене"
          />
        </picture>
      </div>
    </div>
    <!-- slider -->
    <div class="down-wrapper">
      <div class="hotel-about-slider-wrapper">
        <div class="hotel-about-slider image-slider">
          <div class="slider-photo image-slider-item">
            <picture>
              <source
                media="(max-width: 1024px)"
                type="image/jpg"
                srcset="
                  ./images/mobile/home/about-hotel-slider-5.jpg    1x,
                  ./images/mobile/home/about-hotel-slider-5-2x.jpg 2x
                "
              />

              <source
                media="(min-width: 1280px)"
                type="image/jpg"
                srcset="
                  ./images/desktop/home/about-hotel-slider-5.jpg    1x,
                  ./images/desktop/home/about-hotel-slider-5-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                type="image/jpg"
                srcset="
                  ./images/tablet/home/about-hotel-slider-5.jpg    1x,
                  ./images/tablet/home/about-hotel-slider-5-2x.jpg 2x
                "
              />
              <img
                src="./images/tablet/home/about-hotel-slider-5.jpg"
                alt="Білий диван"
              />
            </picture>
          </div>
          <div class="slider-photo image-slider-item">
            <picture>
              <source
                media="(max-width: 1024px)"
                type="image/jpg"
                srcset="
                  ./images/mobile/home/about-hotel-slider-6.jpg    1x,
                  ./images/mobile/home/about-hotel-slider-6-2x.jpg 2x
                "
              />

              <source
                media="(min-width: 1280px)"
                type="image/jpg"
                srcset="
                  ./images/desktop/home/about-hotel-slider-6.jpg    1x,
                  ./images/desktop/home/about-hotel-slider-6-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                type="image/jpg"
                srcset="
                  ./images/tablet/home/about-hotel-slider-6.jpg    1x,
                  ./images/tablet/home/about-hotel-slider-6-2x.jpg 2x
                "
              />
              <img
                src="./images/tablet/home/about-hotel-slider-6.jpg"
                alt="Білий умивальник"
              />
            </picture>
          </div>
          <div class="slider-photo image-slider-item">
            <picture>
              <source
                media="(max-width: 1024px)"
                type="image/jpg"
                srcset="
                  ./images/mobile/home/about-hotel-slider-7.jpg    1x,
                  ./images/mobile/home/about-hotel-slider-7-2x.jpg 2x
                "
              />

              <source
                media="(min-width: 1280px)"
                type="image/jpg"
                srcset="
                  ./images/desktop/home/about-hotel-slider-7.jpg    1x,
                  ./images/desktop/home/about-hotel-slider-7-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                type="image/jpg"
                srcset="
                  ./images/tablet/home/about-hotel-slider-7.jpg    1x,
                  ./images/tablet/home/about-hotel-slider-7-2x.jpg 2x
                "
              />
              <img
                src="./images/tablet/home/about-hotel-slider-7.jpg"
                alt="Бежевий диван"
              />
            </picture>
          </div>
          <div class="slider-photo image-slider-item">
            <picture>
              <source
                media="(max-width: 1024px)"
                type="image/jpg"
                srcset="
                  ./images/mobile/home/about-hotel-slider-8.jpg    1x,
                  ./images/mobile/home/about-hotel-slider-8-2x.jpg 2x
                "
              />

              <source
                media="(min-width: 1280px)"
                type="image/jpg"
                srcset="
                  ./images/desktop/home/about-hotel-slider-8.jpg    1x,
                  ./images/desktop/home/about-hotel-slider-8-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                type="image/jpg"
                srcset="
                  ./images/tablet/home/about-hotel-slider-8.jpg    1x,
                  ./images/tablet/home/about-hotel-slider-8-2x.jpg 2x
                "
              />
              <img
                src="./images/tablet/home/about-hotel-slider-8.jpg"
                alt="Рушник з кремом"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
