<section class="restaurant-about">

  <div class="restaurant-about__container">
     
      <ul>
          <li class="restaurant-about__link">
              <div class="restaurant-about__wrapper">
                  <h2 class="restaurant-about__titel">Amet minim mollit non</h2>
                  <h3 class="restaurant-about__subtitle">MIMIHO</h3>
                  <p class="restaurant-about__text">
                      
                      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                 
                  </p>
  
              </div>
             
              <picture class="restaurant-about__img restaurant-about__pik">
                  <source class="about__pik"  srcset="
                      ./images/desktop/home/about-hotel-top.jpg 1x,
                      ./images/desktop/home/about-hotel-top-2x.jpg 2x"
                      media="(min-width:1200px)" type="image/jpeg" />
                  <source   srcset="
                  ./images/tablet/home/about-rest-top.jpg 1x,
                  ./images/tablet/home/about-rest-top-2x.jpg 2x"
                      media="(min-width:768px)" type="image/jpeg"  />
                  <source srcset="
                  ./images/mobile/home/about-rest-top.jpg 1x,
                  ./images/mobile/home/about-rest-top-2x.jpg 2x"
                    media="(max-width:767px)" type="image/jpeg" />
                  <img src="./images/desktop/home/about-hotel-top.jpg" alt="restaurant-interior" width="460"  height="574" class="img-block" />            
            </picture> 
              
          </li>
          <li class="restaurant-about__link">
              <div class="restaurant-about__wrapper-two">
                      
            <picture class="restaurant-about__img  restaurant-about__transform">
              <source   srcset="
              ./images/desktop/home/about-rest-bottom.jpg 1x,
              ./images/desktop/home/about-rest-bottom-2x.jpg 2x"
                  media="(min-width:1200px)" type="image/jpeg" />
              <source   srcset="
              ./images/tablet/home/about-rest-bottom.jpg 1x,
              ./images/tablet/home/about-rest-bottom-2x.jpg 2x"
                  media="(min-width:768px)" type="image/jpeg"  />
              <source srcset="
              ./images/mobile/home/about-rest-bottom.jpg 1x,
              ./images/mobile/home/about-rest-bottom-2x.jpg 2x"
                media="(max-width:767px)" type="image/jpeg" />
              <img src="./images/desktop/home/about-rest-bottom.jpg" alt=" restaurant-interior " width="400"  height="500" class="img-block" />            
        </picture> 
          <p class="restaurant-about__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
  
              </div>
          
  
          </li>
          <li>
              <!-- <img src="" alt="restaurant-interior"> -->
  
          </li>
      </ul>
  </div>
  </section>