  <section class="restaurant-details section-details">
  <div class="container">
    <div class="restaurant">
      <a href="#" class="restaurant-logo">MIMIHO</a>
      <h2 class="restaurant-title">Ресторан</h2>
      <p class="restaurant-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="restaurant-slic-tab">
      <!-- Слайдер -->
      <div class="restaurant-slic">
        <div class="restaurant-slic-img">
          <picture>
                <source
                  srcset="
                    ./images/desktop/home/details-rest-slider-1.jpg        1x,
                    ./images/desktop/home/details-rest-slider-1-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/tablet/home/details-rest-slider-1.jpg    1x,
                    ./images/tablet/home/details-rest-slider-1-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/mobile/home/details-rest-slider-1.jpg    1x,
                    ./images/mobile/home/details-rest-slider-1-2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                />

                <img
            src="./images/mobile/home/details-rest-slider-1.jpg "
            alt="Слайдер"
            width="274"
            height="270"
          />
              </picture>
          <!-- <img
            src="./images/mobile/home/details-rest-slider-1.jpg "
            alt="Слайдер"
            width="274"
            height="270"
          /> -->
           <picture>
                <source
                  srcset="
                    ./images/desktop/home/details-rest-slider-2.jpg        1x,
                    ./images/desktop/home/details-rest-slider-2-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/tablet/home/details-rest-slider-2.jpg    1x,
                    ./images/tablet/home/details-rest-slider-2-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/mobile/home/details-rest-slider-2-2x.jpg    1x,
                    ./images/mobile/home/details-rest-slider-2.jpg 2x
                  "
                  media="(min-width: 414px)"
                />

                <img
            src="./images/mobile/home/details-rest-slider-2.jpg"
            alt="Слайдер"
            width="274"
            height="270"
          />
              </picture>
          
                <picture>
                <source
                  srcset="
                    ./images/desktop/home/details-rest-slider-3.jpg        1x,
                    ./images/desktop/home/details-rest-slider-3-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/tablet/home/details-rest-slider-3.jpg    1x,
                    ./images/tablet/home/details-rest-slider-3-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/mobile/home/details-rest-slider-3-2x.jpg    1x,
                    ./images/mobile/home/details-rest-slider-3.jpg 2x
                  "
                  media="(min-width: 414px)"
                />

               <img
            src="./images/mobile/home/details-rest-slider-3.jpg"
            alt="Слайдер"
            width="274"
            height="270"
          />
              </picture>
          
        </div>

        <div class="restaurant-slic-buttons">
          <button type="button" class="button-arrow-left">
            <svg class="" width="32" height="32">
              <use
                class="icon-menu"
                href="./images/icons/sprite.svg#icon-arrow-left"
              ></use>
            </svg>
          </button>
          <button type="button" class="button-arrow-right">
            <svg class="menu" width="32" height="32">
              <use
                class="icon-menu"
                href="./images/icons/sprite.svg#icon-arrow-right"
              ></use>
            </svg>
          </button>
        </div>
      </div>

      <!-- Кнопки -->

      <div class="restaurant-buttons">
        <button type="button" class="button button-dark restaurant-button">
          Забронювати столик
        </button>
        <a href="./partials/pages/restaurant/restaurant-menu.html" class="button button-dark buttons-link" target="_blank">Переглянути меню</a>
      </div>
    </div>
  </div>
</section>
