<section class="restaurant-about section-about">
  <div class="container restaurant-about-section-container">
    <h1 class="restaurant-about__title">About restaurant</h1>
    <div class="restaurant-about__container">
      <div class="restaurant-about__wrapper-first">
        <div>
          <p class="restaurant-about__slogan">Amet minim mollit non</p>
          <h2 class="restaurant-about__logo">mimiho</h2>
          <p class="restaurant-about__info-first">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>

        <div class="restaurant-about__first-image-wrapper">
          <picture>
            <source
                srcset="
                ./images/desktop/home/about-rest-top.jpg    1x,
                ./images/desktop/home/about-rest-top-2x.jpg 2x
              "
                media="(min-width: 1280px)"
            />
            <source
                srcset="
                ./images/tablet/home/about-rest-top.jpg    1x,
                ./images/tablet/home/about-rest-top-2x.jpg 2x
              "
                media="(min-width: 1024px)"
            />
            <source
                srcset="
                ./images/mobile/home/about-rest-top.jpg    1x,
                ./images/mobile/home/about-rest-top-2x.jpg 2x
              "
                media="(min-width: 414px)"
            />
            <img
                class="restaurant-about_photo-first"
                class="image"
                src="./images/mobile/home/about-rest-top.jpg"
                alt="Фотографія залу ресторана"
                sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 80vw"
            />
          </picture>
        </div>
      </div>

      <div class="restaurant-about__wrapper-second">
        <div class="restaurant-about__wrapper-inside">
          <picture>
            <source
                srcset="
                ./images/desktop/home/about-rest-bottom.jpg    1x,
                ./images/desktop/home/about-rest-bottom-2x.jpg 2x
              "
                media="(min-width: 1280px)"
            />
            <source
                srcset="
                ./images/tablet/home/about-rest-bottom.jpg    1x,
                ./images/tablet/home/about-rest-bottom-2x.jpg 2x
              "
                media="(min-width: 1024px)"
            />
            <source
                srcset="
                ./images/mobile/home/about-rest-bottom.jpg    1x,
                ./images/mobile/home/about-rest-bottom-2x.jpg 2x
              "
                media="(min-width: 414px)"
            />
            <img
                class="restaurant-about_photo-second"
                class="image"
                src="./images/mobile/home/about-rest-bottom.jpg"
                alt="Фотографія залу ресторана"
                sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 80vw"
            />
          </picture>
          <p class="restaurant-about__info-second">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>

      <!-- slider -->

      <div class="restaurant-about__slider-wrapper">
        <div class="restaurant-about__slider image-slider">
          <div class="restaurant-about__slider-item image-slider-item">
            <picture>
              <source
                  srcset="
                ./images/desktop/home/about-rest-slider-1.jpg    1x,
                ./images/desktop/home/about-rest-slider-1-2x.jpg 2x
              "
                  media="(min-width: 1280px)"
              />
              <source
                  srcset="
                ./images/tablet/home/about-rest-slider-1.jpg    1x,
                ./images/tablet/home/about-rest-slider-1-2x.jpg 2x
              "
                  media="(min-width: 1024px)"
              />
              <source
                  srcset="
                ./images/mobile/home/about-rest-slider-1.jpg    1x,
                ./images/mobile/home/about-rest-slider-1-2x.jpg 2x
              "
                  media="(max-width: 1024px)"
              />

              <img
                  src="./images/mobile/home/about-rest-slider-1.jpg "
                  alt="Слайдер"
              />
            </picture>
          </div>

          <div class="restaurant-about__slider-item image-slider-item">
            <picture>
              <source
                  srcset="
                ./images/desktop/home/about-rest-slider-2.jpg    1x,
                ./images/desktop/home/about-rest-slider-2-2x.jpg 2x
              "
                  media="(min-width: 1280px)"
              />
              <source
                  srcset="
                ./images/tablet/home/about-rest-slider-2.jpg    1x,
                ./images/tablet/home/about-rest-slider-2-2x.jpg 2x
              "
                  media="(min-width: 1024px)"
              />
              <source
                  srcset="
                ./images/mobile/home/about-rest-slider-2.jpg    1x,
                ./images/mobile/home/about-rest-slider-2-2x.jpg 2x
              "
                  media="(max-width: 1024px)"
              />

              <img
                  src="./images/mobile/home/about-rest-slider-2.jpg "
                  alt="Слайдер"
              />
            </picture>
          </div>

          <div class="restaurant-about__slider-item image-slider-item">
            <picture>
              <source
                  srcset="
                ./images/desktop/home/about-rest-slider-3.jpg    1x,
                ./images/desktop/home/about-rest-slider-3-2x.jpg 2x
              "
                  media="(min-width: 1280px)"
              />
              <source
                  srcset="
                ./images/tablet/home/about-rest-slider-3.jpg    1x,
                ./images/tablet/home/about-rest-slider-3-2x.jpg 2x
              "
                  media="(min-width: 1024px)"
              />
              <source
                  srcset="
                ./images/mobile/home/about-rest-slider-3.jpg    1x,
                ./images/mobile/home/about-rest-slider-3-2x.jpg 2x
              "
                  media="(max-width: 1024px)"
              />

              <img
                  src="./images/mobile/home/about-rest-slider-3.jpg "
                  alt="Слайдер"
              />
            </picture>
          </div>

          <div class="restaurant-about__slider-item image-slider-item">
            <picture>
              <source
                  srcset="
                ./images/desktop/home/about-rest-slider-4.jpg    1x,
                ./images/desktop/home/about-rest-slider-4-2x.jpg 2x
              "
                  media="(min-width: 1280px)"
              />
              <source
                  srcset="
                ./images/tablet/home/about-rest-slider-4.jpg    1x,
                ./images/tablet/home/about-rest-slider-4-2x.jpg 2x
              "
                  media="(min-width: 1024px)"
              />
              <source
                  srcset="
                ./images/mobile/home/about-rest-slider-4.jpg    1x,
                ./images/mobile/home/about-rest-slider-4-2x.jpg 2x
              "
                  media="(max-width: 1024px)"
              />

              <img
                  src="./images/mobile/home/about-rest-slider-4.jpg "
                  alt="Слайдер"
              />
            </picture>
          </div>

          <div class="restaurant-about__slider-item image-slider-item">
            <picture>
              <source
                  srcset="
                ./images/desktop/home/about-rest-slider-5.jpg    1x,
                ./images/desktop/home/about-rest-slider-5-2x.jpg 2x
              "
                  media="(min-width: 1280px)"
              />
              <source
                  srcset="
                ./images/tablet/home/about-rest-slider-5.jpg    1x,
                ./images/tablet/home/about-rest-slider-5-2x.jpg 2x
              "
                  media="(min-width: 1024px)"
              />
              <source
                  srcset="
                ./images/mobile/home/about-rest-slider-5.jpg    1x,
                ./images/mobile/home/about-rest-slider-5-2x.jpg 2x
              "
                  media="(max-width: 1024px)"
              />

              <img
                  src="./images/mobile/home/about-rest-slider-5.jpg "
                  alt="Слайдер"
              />
            </picture>
          </div>

          <div class="restaurant-about__slider-item image-slider-item">
            <picture>
              <source
                  srcset="
                ./images/desktop/home/about-rest-slider-6.jpg    1x,
                ./images/desktop/home/about-rest-slider-6-2x.jpg 2x
              "
                  media="(min-width: 1280px)"
              />
              <source
                  srcset="
                ./images/tablet/home/about-rest-slider-6.jpg    1x,
                ./images/tablet/home/about-rest-slider-6-2x.jpg 2x
              "
                  media="(min-width: 1024px)"
              />
              <source
                  srcset="
                ./images/mobile/home/about-rest-slider-6.jpg    1x,
                ./images/mobile/home/about-rest-slider-6-2x.jpg 2x
              "
                  media="(max-width: 1024px)"
              />

              <img
                  src="./images/mobile/home/about-rest-slider-6.jpg "
                  alt="Слайдер"
              />
            </picture>
          </div>

          <div class="restaurant-about__slider-item image-slider-item">
            <picture>
              <source
                  srcset="
                ./images/desktop/home/about-rest-slider-7.jpg    1x,
                ./images/desktop/home/about-rest-slider-7-2x.jpg 2x
              "
                  media="(min-width: 1280px)"
              />
              <source
                  srcset="
                ./images/tablet/home/about-rest-slider-7.jpg    1x,
                ./images/tablet/home/about-rest-slider-7-2x.jpg 2x
              "
                  media="(min-width: 1024px)"
              />
              <source
                  srcset="
                ./images/mobile/home/about-rest-slider-7.jpg    1x,
                ./images/mobile/home/about-rest-slider-7-2x.jpg 2x
              "
                  media="(max-width: 1024px)"
              />

              <img
                  src="./images/mobile/home/about-rest-slider-7.jpg "
                  alt="Слайдер"
              />
            </picture>
          </div>

          <div class="restaurant-about__slider-item image-slider-item">
            <picture>
              <source
                  srcset="
                ./images/desktop/home/about-rest-slider-8.jpg    1x,
                ./images/desktop/home/about-rest-slider-4-2x.jpg 2x
              "
                  media="(min-width: 1280px)"
              />
              <source
                  srcset="
                ./images/tablet/home/about-rest-slider-8.jpg    1x,
                ./images/tablet/home/about-rest-slider-8-2x.jpg 2x
              "
                  media="(min-width: 1024px)"
              />
              <source
                  srcset="
                ./images/mobile/home/about-rest-slider-8.jpg    1x,
                ./images/mobile/home/about-rest-slider-8-2x.jpg 2x
              "
                  media="(max-width: 1024px)"
              />

              <img
                  src="./images/mobile/home/about-rest-slider-8.jpg "
                  alt="Слайдер"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
